[2017-10-19 17:25] HonestySoftware opened #11 "Error injecting glassmask"
Not sure if it affects other items as well, since I didn't try yet, but getting an error trying to inject glass mask.

`            b.DoMission(Mission.AirshipDeck, false, null, "20:" + Equipment.GlassMask.EquipId + ":1");
            b.DoMission(Mission.AirshipDeck);`

[Error Picture](https://media.discordapp.net/attachments/368524064492617750/370623405223051274/unknown.png?width=952&height=464)

[2017-10-19 17:30] HonestySoftware commented on #11
Probably only event items from GlassMask to CloakofFlames having issues with injection. Worked fine for everything else.

Thanks for your hard work

[2017-10-19 17:39] RiboRino opened #12 "Selling items after using rank up"
Could you consider implementing this?

[2017-10-19 19:35] shalzuth commented on #12
Sell which items? Not sure I follow.

[2017-10-19 19:36] shalzuth commented on #11
Seems like a server bug that we can't inject it.
FYI equipment is 21 (not 20), it doesn't matter from an injection standpoint though.

[2017-10-19 19:37] #11 closed

[2017-10-19 20:51] RiboRino commented on #12
Items dropped/stolen from Port City Lodin.
Example:
Enemy dropped item : Beast Meat : 1
Enemy dropped item : Crimson Tear : 2
Enemy stolen item : Beast Meat : 3
Enemy stolen item : Life Orb : 3
Enemy stolen item : Crimson Tear : 3
Enemy stolen item : Quality Parts : 3
Enemy stolen item : Chromatic Ooze : 3

Maybe every rank up you sell off the items? Otherwise you end up with 1000s of these.

[2017-10-19 22:05] shalzuth commented on #12
Ah yes need to turn off collect loot

[2017-10-19 22:07] #12 closed

[2017-10-20 22:21] RiboRino opened #17 "Using unlinked account info on the android app"
Using ReRoll() to get unlinked account info is there a way to use this info to login on the android app or is the info only usable via BraveHaxvius?

[2017-10-20 22:32] shalzuth commented on #17
Yes

[2017-10-20 22:36] RiboRino commented on #17
Do you know what file has that info?

[2017-10-21 09:35] WithinGDR commented on #17
I'm also curious about this too. Within auth.xml is the UserID and Password. Then separated by a comma is what I assume the Gumi ID and Token. Plugging in the info from the accounts file results in the app continuously saying please login again. Plugging in a new account info from auth.xml to BraveHaxvius result in an error saying that it can't find the User ID after doing updategetinfo but, if th

[2017-10-21 16:57] shalzuth commented on #17
WithinGDR is on the right track...
Rerolled accounts are locked to an OS. Need to change it to Android before running ReRoll account.

[2017-10-21 17:12] WithinGDR commented on #17
Wow i'm an idiot. Thanks shalzuth

[2017-10-21 18:40] RiboRino commented on #17
TY for help i got it

[2017-10-21 18:51] #17 closed

[2017-10-22 12:58] HonestySoftware opened #19 "JP Login issue"
After updating from commit 8fb7c09... to 2c2809e... I can't login into my JP account anymore. Right after pressing "login" to retrieve banners getting the listed error below.
Before I got the same message over and over trying to use the summon function.

Global login and function still work fine on the other side.

[Error](https://media.discordapp.net/attachments/349772219875983360/371642908585099

[2017-10-24 00:06] WithinGDR opened #20 "FuckAccount()"
So..uh.. I messed up an equipment injection and accidentally injected 1,401,001,500 Raven Berets. This causes the FFBE app to crash if you look at equipment under the items menu or if you tap on the head gear equipment box on the unit screen. If FuckAccount() is used to Fuck an account then this would be a method.

[2017-10-24 01:15] shalzuth commented on #20
https://github.com/shalzuth/BraveHaxvius/commit/ce6e863c01e0fe2f3afcf1e6ab1676e1a1f9413d
Can sell those items, but might need to in segments (not all at once). Fixed in latest.

[2017-10-24 01:15] #20 closed

[2017-10-24 01:15] shalzuth commented on #19
https://github.com/shalzuth/BraveHaxvius/commit/ce6e863c01e0fe2f3afcf1e6ab1676e1a1f9413d
Fixed in this release I think.

[2017-10-24 03:36] SupremeNooblet commented on #19
Hi there, whenever I try to login with my JP accounts to perform summons. The program keeps crashing.

[2017-10-24 06:28] HonestySoftware commented on #19
Login seems to be fixed but still issues with pulling / summoning. Tried various banners but it throws same error as before with login.

[Error](https://i.imgur.com/ri6Wz4V.png)

[2017-10-24 06:47] McDohI opened #21 "newbie guide"
sorry im really newbie on this but im trying hard to learn
i just download fiddler and stuck there, i dont know how to operate it neither how to open ur repository, is it via fiddler or else?
and should i use emulator to hack?
so blur to me
, really thank if u have youtube tutorial

[2017-10-24 06:51] ChrisLHY commented on #21
Thank you very much for working on this project guys, I really appreciate it. I am on the same boat as McDohl - I got stuck after installing fiddler. It would be really great if we can get more instructions e.g. step 1 click this, step 2 click that etc.

[2017-10-24 07:00] HonestySoftware commented on #21
If you don't know anything about coding / reverse engineering, don't bother with it.

https://github.com/shalzuth/BraveHaxvius/releases

go there and download zip file. Everything else should be self explainable.

[2017-10-24 11:12] ChrisLHY commented on #21
Thanks a lot HonestySoftware. It works like a charm!

Just a minor question - do you know if there is a way to inject pots? Many thanks.

[2017-10-24 14:18] JNS1984 commented on #21
Okay, I think I am doing something wrong. I downloaded the repository and tried starting the bravehaxvius.exe. but well it always crashes. anyone any idea?

[2017-10-24 15:15] firefist8 commented on #21
can any1 help me with the proxy setting. I think I am doing something wrong.

[2017-10-24 15:23] JNS1984 commented on #21
It always crashes when it tries to create a user. U am trying to get it to work but I don't even know where to start...

[2017-10-24 15:36] OGVENDETTA commented on #21
@JNS1984
Play the game first to create user.
@firefist8
What is the error? Please be specific.

[2017-10-24 15:50] JNS1984 commented on #21
@OGVENDETTA
I already have an account. It's also maxed. That is why I am stumped. I use FB ID and Token. And fiddler Proxy. The 1st 2 intiallations send and get an answer but on the third one "create user" the exe crashes. So I don't know what I am doing wrong.

[2017-10-24 15:57] firefist8 commented on #21
@OGVENDETTA  I dont know what to enter in the proxy ip and port. I am a complete noob at this. Please help

[2017-10-24 18:29] helloffbeworld1 opened #22 "Can items be deleted?"
Hi,

Is there a way to delete items?  Like if we accidentally type in too many of an item (like 200k+), is there a way in the program to delete them? ie: if we enter -9999 and inject, will this remove it?

Or is there another way?  Thanks

[2017-10-24 18:37] shalzuth commented on #22
Sell them. The client app has a sell tab.

[2017-10-24 18:37] #22 closed

[2017-10-24 18:40] shalzuth commented on #21
@JNS1984 if it's saying "create user", your id/token are incorrect (or it's a new account).
@firefist8 leave proxy blank.

[2017-10-24 18:48] helloffbeworld1 commented on #22
Thanks Shal!  I tried to use, but when I enter in a number; ie:  if i specify 200000 for the 10+1 tickets, the program always crashes

[2017-10-24 18:50] helloffbeworld1 commented on #22
ooh nvm.  please ignore.  I figured it out.  Thank you Shal!

[2017-10-25 05:17] JNS1984 commented on #21
@shalzuth Thank you. My FB ID was wrong. Now it works like a charm.

[2017-10-25 07:34] bob548 commented on #21
Can someone show me an example of what their program.cs page looks like? I have my Facebook token and ID in, and I know the token is right otherwise I wouldn't have been able to get the ID. I'm lost here guys.

[2017-10-25 18:34] raklaron commented on #19
Hello. I'm trying to enter JP, but i seem to have the same error i got before (i got v. 1.0.28).

![](https://cdn.discordapp.com/attachments/369233747989757954/371962091013275649/unknown.png)

I double-checked my pins, internet and downloaded files.

[2017-10-26 08:08] #21 closed

[2017-10-26 12:06] mrbojoa opened #23 "Bot no longer works after new GL version?"
Is anyone else facing the same issue?

[2017-10-26 12:57] kissxsis commented on #23
I'm pretty sure it's patched now.

[2017-10-26 14:04] JNS1984 commented on #23
Yeah. Seems to be the end for injections. Or we need to find another way. All the other sites that sold injections are saying that it won't work anymore. Ah too bad. Maybe someone else will find a way.

[2017-10-26 18:59] #19 closed

[2017-10-27 04:40] evascyphis commented on #21
does anyone can guide me how to or instruction to use this tool?
thank you in advance

[2017-10-27 05:02] shalzuth commented on #23
Server fixed exploit

[2017-10-27 05:02] #23 closed

[2017-10-27 06:23] Jhonvf20 opened #26 "Inject not works after global maintenance?"
Hi, I can't use the inject tool. I Compile and generates the .exes files. Run and execute the injection. It seems to finish the mission correctly, but the items are not injected.

[2017-10-27 08:02] Cybotor opened #27 "JP cannot login"
It's always crash after login

[2017-10-27 10:05] tommygirl opened #28 "Unit Hunter without locking 3* and 4*"
Hi, is it possible to have the unit hunter function without it locking 3* and 4* units in the game when the 'Sell 3*' and 'Sell 4*' are de-selected?

[2017-10-27 10:15] firefist8 commented on #26
injection patched. No longer possible. Its sad but I will not work anymore.

[2017-10-27 10:49] Jhonvf20 commented on #26
@firefist8 I will work on this. What can i do? analyze the packages or get the keys back?

[2017-10-27 10:51] firefist8 commented on #26
I mean it will not work anymore. I dont know any details but people say injection wont be possible anymore. Unless someone finds a new way.

[2017-10-27 13:12] refoz commented on #26
Hey man, can you teach me how to use the gun? I will donate to you on paypal but I could not use the program ... if you can, send me an email eo.renandesouza@gmail.com

[2017-10-27 13:25] OGVENDETTA commented on #26
@firefist8 Injections patched. No more Injections.
@refoz You're on the wrong website. This is for programming not selling firearms.

[2017-10-27 14:11] raklaron commented on #27
I can login and can summon but the not %100 of the time. Sometimes i can summon like 5 times consecutively, and sometimes i cannot summon for like 10-20 tries.

For the record, i'm using 50106 and 3* (sometimes 4* works too).

[2017-10-27 15:23] Cybotor commented on #27
@raklaron I've try both release 1.0.34 and recompile. but all cannot login.
application always crash.
does it need anything special (I ran on Win10)

[2017-10-27 16:57] refoz commented on #26
Sorry i write wrong, i use the translate, i want say that i dont how inject, i download Fiddler, but i dont know what i do now... if can u teach me, i will donate for u, send me an email eo.renandesouza@gmail.com

[2017-10-27 17:13] Jhonvf20 commented on #26
@refoz Like @OGVENDETTA says... it's patched.

[2017-10-27 17:34] WithinGDR commented on #28
You can use UnfavoriteAll() to get rid of the locks

[2017-10-27 18:52] raklaron commented on #27
I cannot login to JP now, so i think it wont work, at least for now.

[2017-10-27 19:54] WithinGDR opened #30 "Skeleton Keys prevent Castle Keep and Inner Chamber missions from working"
In order to have them work you have to manually use the keys in the FFBE client and then run the mission on BraveHaxvius each time.

[2017-10-27 21:53] DyWaBeng commented on #28
the unit hunter was working but now it crashes on me. is there anything that i have done wrong? thanks for your time

[2017-10-27 22:36] Reosann commented on #26
Hi, I'm not really an expert but.. If i got it right, injection were related to missions. They patched that, so it's needed to find a new way. What about messages? Is it possible to inject using that? Maybe making exvius thinking that are mission rewards (like use black magic and so on)? Or also a daily quest completed or rookie quest... Is it possible?

[2017-10-28 00:48] Cybotor commented on #27
I can login now, it's my bad to miss-understood on UI >_<
I put id/pw on banner-list box

[2017-10-28 00:48] #27 closed

[2017-10-28 01:58] JunkyardCat opened #31 "[JP] How do you summon and finish mission"
Whenever i summon it quickly crash after gachaexe
i used exvius summon with 5* ex option i also logged in before i summon using the log in button

as for the mission i was able to successfully complete 1 time (cactuar dunes paradise) after consecutive use it crashes. it crashes after create user.
my option i chose were android and collect units and collect loot

is there a guide on how to do this

[2017-10-28 02:08] senaia1 commented on #26
Injection was possible because trust rewards after battle weren't checked with the server. Drops in battle, chests and loot spots in exploration areas, items from dailies and the inbox are all predetermined items checked with the server. Since gumi decided to start doing the server check on trust items, at the moment there's no way to inject.
Future possibilities could include items from raid summ

[2017-10-28 05:58] firefist8 opened #32 "JP injection"
With GL injection patched. Is JP injection possible?

[2017-10-28 07:53] Reosann commented on #26
Then, what about make the app connect to a custom server, just for the check, and then connect to the normal server for validating injection?

[2017-10-28 09:37] Cybotor opened #33 "can JP summon more than 11 unit / ticket?"
As test, now JP summon can use for do 11 units summon on some banner and only 3* and 4* ticket.
(5* ex is can done on EX banner and get only 1 unit)

how possible to summon more than 11 unit on 1 ticket?

[2017-10-28 09:43] OscarCox commented on #33
you can try 5* ex on other banners , will get 11 x 5* .

[2017-10-28 10:04] JunkyardCat commented on #33
how do you guys do that? when i summon it stops at gachaexe then it crashes

[2017-10-28 10:23] Cybotor commented on #33
@JunkyardCat make sure that you really have ticket.

[2017-10-28 11:09] JunkyardCat commented on #33
@Cybotor thanks. do you happen to know how unit hunter work?

[2017-10-28 12:30] TetoraK commented on #28
No tickets?

[2017-10-28 12:37] firefist8 commented on #33
What ticket is the one labeled as "??" in the list of ticket to choose from when you try to summon?

[2017-10-28 13:41] OGVENDETTA commented on #32
yes

[2017-10-28 14:49] firefist8 commented on #32
Is it possible to inject with this tool in jp?

[2017-10-28 15:50] OGVENDETTA commented on #32
I just answered the same question earlier from you.

[2017-10-28 16:07] firefist8 commented on #32
Thank you very much. It works.

[2017-10-29 03:55] #32 closed, assigned to nobody

[2017-10-29 04:26] danzkimon commented on #28
"You can use UnfavoriteAll() to get rid of the locks" how to do this?

[2017-10-29 11:34] WillyoWisp commented on #26
I would guess the issue there is that Gumi's server will still have the latest data for your account, which is what would be used.

[2017-10-29 12:22] Ondraya opened #34 "Crash"
It could be my old i7 intel processor or Windows 7 but the program crashes and I can't seem to find out how to correct it.

[2017-10-30 01:12] Cybotor opened #35 "How to update data?"
As I check current updated data by @OGVENDETTA , I think you're focus on GL while JP data still not.
Could you guide me how to extract data from JP side?

[2017-10-30 01:15] Cybotor commented on #33
@firefist8  ?? is ticket id no "3", It's may some special ticket that not release yet or passed-away

[2017-10-30 03:04] OGVENDETTA commented on #35
This is for global. Unfortunately none of the tools or resources here will help you extract data from the JP side. You would have to seek assistance else where.

[2017-10-30 03:05] OGVENDETTA commented on #34
Without you posting the error we cannot help you.

[2017-10-30 06:34] drchia opened #36 "rank up & leveling tool questions/issues"
First off, thanks for the amazing work with this tool. Hell of a job and well worth the donation!

With regards to the rank up feature, it now stops once it detects you are at rank 150, which I'm assuming is due to it being the cap until just recently. Can it be updated so that it continues until 200?

Second, and this is more of a question than an issue, does the level up feature still attempt to

[2017-10-30 07:05] Cybotor commented on #35
@OGVENDETTA  Thanks for your mention.

[2017-10-30 07:05] #35 closed, assigned to nobody

[2017-10-30 07:11] drchia commented on #36
Sorry, disregard the second question re: level up feature. I see in the code that the egg/action equip has been removed within UnitHunterNew. Also, I see that the rank tool does indeed break at rank 150, and only at 150 (it works for 151+ and will actually keep running even if you are 200). Unfortunately, while I'm competent enough to read through code and locate easy to spot things, such as the a

[2017-10-30 14:32] WithinGDR commented on #36
Get Visual Studio and just change 150 to 200

[2017-10-30 18:52] drchia commented on #36
Unfortunately, I'm not a programmer by any means so I have absolutely no clue how to use visual studio to edit anything. I can simply follow easy to understand code to find certain things. It's not hard for someone to see that there's an "if" statement that says "if rank=150" tied to the rank up button. I just have no idea how to change that myself.

[2017-10-30 19:54] Mikeo73 commented on #36
Since there is no injection I agree with the update to remove the injection and later selling of the exp eggs and actions, however was it necessary to remove the equip. I.e. Would it be possible to keep some sort of equip exp egg and action (however many a person may already have available in their inventory) and then unequip them at the end. This can be done manually but it was nice that the prog

[2017-10-30 20:03] drchia commented on #36
It will no longer awaken units as it cannot inject the mats to do so. With the previous version, after injections were patched, it would still awaken units if you had the mats to do so in your inventory. If you didn't, it would crash. Now, it does not attempt at all.

The ability to equip the egg/action cannot be included because not everyone will have them. If it attempts to do so and fails, the

[2017-10-30 20:25] Mikeo73 commented on #36
It surprises me that it is impossible to do a check for actions and eggs. Get the number of them and then equip that available amount.

[2017-10-30 20:28] drchia commented on #36
I doubt it's impossible, it's just more work for not a lot of return.

[2017-10-30 20:33] Mikeo73 commented on #36
Fair enough. I would still be interested in that adjustment. So if someone wants to add that feature I would find it helpful.

[2017-10-30 20:35] drchia commented on #36
Oh sure, it would be nice to have, but I'm not about to pester the devs with requests like that. This forum is for features that are not working as intended, or bugs. The current rank up button breaks on rank 150 and ONLY rank 150 (since it doesn't say "if rank >=150", just "if rank=150") due to the recent cap change. Asking for added features is something completely different I think.

[2017-10-30 20:37] TetoraK commented on #36
If you know the basics, simply compare old and new function and write your own.

Else another way: equip your units manually and use leveling funciton afterward.

[2017-10-30 20:58] Mikeo73 commented on #36
I made a suggestion about how to make the program better. I am not pestering anyone to do anything. If someone decides to add it great. If not they don't. But that is the intention of Github. People work together to make something better. Sorry if I put an question in an issues tab titled leveling tool questions.

[2017-10-30 21:27] shalzuth commented on #28
Unit hunter only works if you have 10+1 tickets leftover from injection.

[2017-10-30 21:27] #28 closed

[2017-10-30 21:27] shalzuth commented on #26
injection fixed.

[2017-10-30 21:27] #26 closed

[2017-10-30 22:06] WithinGDR commented on #36
@drchia

? You don't need to be a programmer
https://www.visualstudio.com/thank-you-downloading-visual-studio/?sku=Community&rel=15.
Download and install
https://github.com/shalzuth/BraveHaxvius/archive/master.zip
Download and extract

1. Double click BraveHaxvius.sln
2. On the right expand Client, right click MainWindow.cs and click View Code
3. Ctrl+F "150" replace that with "200" then Ctrl+S an

[2017-10-30 23:11] drchia commented on #36
@WithinGDR Thanks for the walkthrough!

@Mikeo73 I apologize if that came off the wrong way. No offense intended.

[2017-10-31 01:21] Ondraya commented on #34
I figured it out. Using Windows 7, you cannot have blank spaces in file names. I got the program working, I just can’t use all the (otherwise) usable elements because some of those files also have spaces in them. If I were using a newer windows, this wouldn’t be an issue.  Do you know any simple work around for windows 7?

Sent from my iPod

On Oct 29, 2017, at 11:05 PM, OGVENDETTA <notifications@

[2017-10-31 01:37] OGVENDETTA commented on #34
Most of my developments are done and tested on Windows 7.
I have never heard this issue before on windows 7. I've tested this on windows 7, 8, 10 and even vista and all of them required visual packages. Make sure you have those installed.

[2017-10-31 04:34] firefist8 opened #38 "JP summon"
Is it possible to increase the no. of unit we get form 1 ticket? like 100 unit instead of 11. Really appreciate the work. This tool has helped me a lot.

[2017-10-31 08:12] Cybotor opened #39 "How to find AppVersion, RscVersion, MstVersion?"
I try to review the code to mod for JP use.
I found these variable [AppVersion, RscVersion, MstVersion]
I'm not sure it's up to date or not and how to find them

@serenitygrant  @OGVENDETTA  or anyone can you guide me?

[2017-11-01 04:54] hiphopyado opened #40 "Can't farm LB xp on jp server?"
I easily got Limit burst xp and lv by typing numbers and start exploration mission, but  when I try to do that in JP server it only causes crash.

[2017-11-01 10:46] hantucloud commented on #39
check with packetdecoder,
if you want to check with ur phone or emulator
you must same network, ex wifi setting http proxy to your ip packetdecoder ... or try to check raw data with fiddler

[2017-11-01 11:12] Cybotor commented on #39
Thank you, I got it and mod the program.
for JP ver now the data are
AppVersion = 1032
RscVersion = 664
MstVersion = 1943

[2017-11-01 11:12] #39 closed, assigned to nobody

[2017-11-01 13:19] Hirozima opened #41 "Need help on choosing Proxy for JP summon"
[JP summon] keep crashing at GachaEXE and wont allow anymore summon after i successfully used 11 ticket(therefore 20)
is Proxy the problem here? since it won't accept any other Proxy i'm kinda stuck :((
![image](https://user-images.githubusercontent.com/33286129/32276496-ea7a5d3a-bf41-11e7-9db5-fbc06a2d4a10.png)

[2017-11-01 19:34] Aysongail opened #42 "Suspended after update"
I'm not complaining for getting banned... Hopefully you can continue to support this ffbe haxvius and update it as much as possible.

[2017-11-02 00:33] HotMoogle opened #43 "Cannot Run Data Extractor"
Error at /dataExtractor/program.cs line 350

Sequence Contains no Matching Element

[2017-11-02 01:20] Cybotor commented on #43
Change AppVersion to _1030_ and BuildVersion to _2.4.1_
Then rebuild program.

[2017-11-02 02:04] HotMoogle commented on #43
hi @Cybotor  is that for global setting? sorry im not on my pc atm

[2017-11-02 02:15] HotMoogle commented on #43
last question and thanks for the help

how to see AppVersion and BuildVersion every patch? thanks a lot its a great help for my learning

[2017-11-02 02:25] Cybotor commented on #43
@HotMoogle  Yes, above Version_no. is for GL setting
you can use PacketDecoder to catch send/return packet. It's contain needed information
**_AppVersion, RscVerson, MstVersion_**
For **_BuildVersion_** you can see as application version on Title Screen.

check this for my previous question about how to find these information >> https://github.com/shalzuth/BraveHaxvius/issues/39

[2017-11-02 05:46] BlazeZabini opened #44 "tmr farming location manual"
Hello! I am a newbie here. Is there some instruction manual for the tmr farming on an air ship deck or any other location? Will much appreciate it!

[2017-11-02 06:08] HotMoogle commented on #43
@Cybotor hmm after changing those variables i got the challenge.cs errors now. what im doing wrong? can enlighten me a bit?

Thanks and regards, i just want to update it and run dataextractor

[2017-11-02 06:15] Cybotor commented on #43
I just done change on only 1 file
"BraveExvius.cs" line no.
16 - public String AppVersion { get; set; } = "1030";
18 - public String MstVersion { get; set; } = "1013";
25 - public String BuildVersion { get { return Locale == "JP" ? "ver.3.0.1" : "ver.2.4.1"; } }

after Built Solution, I can run without any error.

[2017-11-02 06:26] HotMoogle commented on #43
@Cybotor  isee true no errors but if you ran dataextractor then recompile gives errors

[2017-11-02 06:29] HotMoogle commented on #43
btw dataextractor updates all tables vendetta mentioned that wait for the dos to close before recompiling for complete update

[2017-11-02 06:51] Cybotor commented on #43
I mean no error both compile and run DataExtractor.
I'm also modify shalzuth to update new resource as below

![haxvius](https://user-images.githubusercontent.com/33109613/32313265-99170b94-bfd4-11e7-8a0e-be9d3689a7b2.PNG)

anyway I can give all update resource from here

https://www.dropbox.com/s/h9wecek1nhcwf31/Data.rar?dl=0

_ps. all was done on Visual Studio 2015_

[2017-11-02 07:02] HotMoogle commented on #43
ayt its now working i  just replaced the challenge.cs with the old one, for jp let me try in an hour brb need to locate which site jpn downloads the data ill get back here

[2017-11-02 07:08] Cybotor commented on #43
I also need JPN download site also.
If you know any information, please let me know

now I try to work on
- JPN download data.
- How to do summon more then 11 unit per ticket
... but still not have any clue. >_<

[2017-11-02 07:53] HotMoogle commented on #43
@Cybotor ok im trying to crack the code now. all the http servers i input was all error and returned 404 haha ill let you know once i have the progress

[2017-11-02 07:54] HotMoogle commented on #43
@Cybotor cdn.resource.exvius.com/lapis/resource <<<< but we need to crack open the encryption to enter the DB <found it by disassembling the app using IDA>

[2017-11-03 13:32] JunkyardCat commented on #43
@Cybotor how did you get the id for the jp materia and equips and items thats not in the current release

[2017-11-05 01:40] Cybotor commented on #43
@JunkyardCat Run data extractor to retrieve new data from update
then compile program again to include new data to program.

[2017-11-06 07:51] jkardoza commented on #43
@Cybotor how can create this interface ?

[2017-11-06 09:47] Mikeo73 commented on #43
Anyone know the ID # of the new king mog item in JP?

[2017-11-06 13:47] Cybotor commented on #43
@jkardoza  I just modify data-grid to include item description, for other not change core program from @shalzuth

@Mikeo73 still cannot extract data from JPN side >_<

[2017-11-06 15:05] jkardoza commented on #43
@Cybotor you can do a tutorial? hard for me

[2017-11-06 17:07] firefist8 commented on #43
@Cybotor can you please share your modified program with us. I am a total noob so don't know where to start.

[2017-11-06 17:08] #38 closed, assigned to nobody

[2017-11-06 22:24] Mikeo73 commented on #43
@Cybotor I started doing the same thing, but yes I also couldn't get jp data to extract. I'll post what I did if I get it working.

[2017-11-07 03:08] #33 closed, assigned to nobody

[2017-11-07 10:35] Cybotor commented on #43
Here is my modified
https://www.dropbox.com/s/beqki7g0az3xy74/BraveHaxvius.rar?dl=0
so sorry I don't know how to update to github repository.

Change are:
- Change version both GL & JP
- add JName on Injection tab
- update equip, item, material from latest GL update

you need to re-compile/rebuilt by yourself by Visual Studio (2015 or 2017 are fine).
I ever try to build, but cannot run on another

[2017-11-07 16:12] goatrum opened #45 "Explorations in Mission Tab Crashing"
I have found that running Realm of the Dragon Exploration after the latest update (the one with the banwave) has been followed with a crash before completion.  I will concede that I am on a different account now, so i may be missing some prerequisite to being able to farm it.  Is this a known issue?  Thank you in advance, this tool has inspired me to start digging into code again.

[2017-11-09 09:12] Cybotor commented on #43
@HotMoogle  could you try
http://cdnbase.resource.exvius.com/lapis/resource/

I try but got some error on MST variable
Not sure from code or not, because original code is for GL.
It's may some variable  or operation not not match with JP

[2017-11-10 05:52] Leon1080 commented on #43
@Cybotor hope you can extract jp data
Thank for your resource

[2017-11-10 07:40] RaumatiShop opened #46 "Current Patch After Maintenance"
Do mission and rank up get patch after last night maintenance? It keep crashing.

[2017-11-10 13:45] WillyoWisp commented on #45
Have you actually unlocked it on the account? Chances are that it'll crash if you're not up to that point normally.

[2017-11-10 15:26] #43 closed, assigned to nobody

[2017-11-10 18:26] jkardoza commented on #43
@cybotor you can use bot to farming in last patche?

[2017-11-10 20:22] HotMoogle commented on #43
Please nake a new thread thank you

[2017-11-13 08:21] McDohI commented on #46
this tool no longer used, so do it legally

[2017-11-15 09:22] aurreal opened #47 "data extractor crashed"
hi guys, im new here..and i wonder why my data extractor always crashed on line 347...i already used @cybotor modified...am here only to update the new tmr for FFBE JP...thanks before guys

[2017-11-15 13:08] HotMoogle opened #48 "GL injection not working"
Global.

[2017-11-15 17:58] hantucloud commented on #48
just do little modification , its works again.

[2017-11-15 21:53] Akio10 opened #49 "The tool does not work"
Hello, here is my problem when I start the tool via the client in exe, it crash and the same for the client format visual studio I do not understand why it does not work if there is something to change thank you for telling me sorry for my bad english in advance

[2017-11-15 22:16] jash1412 commented on #48
@hantucloud can you please share the steps on how to do the necessary modification? I have managed to get Fiddler working, but I am not sure how to find out the packet to analyse and get the necessary AppVersion, RscVersion, MstVersion and BuildVersion.

Or can you share your working files? Thank you.

[2017-11-15 23:31] Cybotor commented on #48
current version
JP:
  app=1032, rsc=677, mst=1985

GL: (will change again today)
  app=1030, rsc=0, mst=1017
  change server address on networking.cs from _lapisv230 .gumi**_ to _lapis-prod.gumi.sg**_

[2017-11-15 23:32] Cybotor commented on #47
server address has change >>  https://github.com/shalzuth/BraveHaxvius/issues/48

[2017-11-15 23:33] Cybotor commented on #49
server address has changed >> https://github.com/shalzuth/BraveHaxvius/issues/48

[2017-11-16 03:25] aurreal commented on #47
@cybotor, thanks for the reply..i succeeded to run my data extractor...and i already saw the new equipment for latest patch, but they dont have the item id, hence i cant inject any of them..how to retrive the item id?

[2017-11-16 06:20] HotMoogle commented on #48
Haha earlier i thought its not working theres just something on facebook anyway @cybotor did you manage to extract jp now? I got some errors yet need to find these values

[2017-11-16 12:16] Cybotor commented on #47
Dataectractor take time to retrive all data.
Just wait till all related .cs files update. (1 minute or more)

[2017-11-16 12:44] aurreal commented on #47
im waiting till all the program closed itself..and got an update for GL ffbe..but not all jp TMR is there...like masamune

[2017-11-16 13:14] HotMoogle commented on #48
MST 1032 Global

[2017-11-16 13:18] Cybotor commented on #48
Still cannot find out master data address.

[2017-11-17 02:04] donradzsk commented on #48
I'm using Visual Studio Enterprise and getting this error trying to TM farm:
![haxv000](https://user-images.githubusercontent.com/33736714/32925727-6c029aae-cb11-11e7-861a-54a68409eff8.jpg)
Is there a fix?

[2017-11-17 08:04] Cybotor commented on #48
@HotMoogle
http://cdn.resource.exvius.com/lapis/resource/mst/Ver308_7FGj2bCh.dat

[2017-11-17 09:40] robidk commented on #48
Hi,

Is the MST 1032 or is that the AppVersion?

Also I have got charlesproxy setup to read the packets, can anyone point me in direction of how to get the AppVersion/MST version, is it part of a header message or do I need to look out for a specific message. From what I saw so far all I was seeing was the version number and no reference to MST or App.

[2017-11-17 11:46] aurreal commented on #48
@Cybotor http://cdn.resource.exvius.com/lapis/resource/mst/Ver308_7FGj2bCh.dat << this is for jp database? where should i put it? on networking.cs?

[2017-11-17 13:38] Cybotor commented on #48
@aurreal just raw file.
I cannot extract it yet.

[2017-11-18 03:04] tommygirl opened #50 "Update for JP"
Hi any chance the tool can be updated for JP, since it's patched on global?

[2017-11-18 08:22] dominic-codespoti commented on #48
@Cybotor Hey! Can you explain as to how you get the AppVersion, RscVersion, MstVersion and BuildVersion? I have Fiddler up and running however I am unable to decrypt the packets to find any important details.

[2017-11-18 08:46] hantucloud commented on #48
@thed24 i use iphone, connect same wifi then use PacketDecoder project...
to see new version info

[2017-11-18 10:42] thed24 commented on #48
@hantucloud could you link me to the program?

[2017-11-18 13:36] robidk commented on #45
I tried the magic library exploration after reaching it and after it shows the loot on log it crashes, anyone got any ideas how to fix it? Thanks!

[2017-11-18 13:56] goatrum commented on #45
Try turning off "exploration loot."  I did this and have had no issues since.

Sent from my iPhone

[2017-11-18 14:36] dominic-codespoti commented on #48
@hantucloud what modifications did you make to get it working?

[2017-11-19 02:21] hantucloud commented on #48
@thed24 at BraveExvius project modify ur app version mst version or rsc... then use DataExtractor to refresh ur gamedatabase like ur Mission data etc..
this tools is great for education to sniffing packet data

[2017-11-19 02:58] dominic-codespoti commented on #48
@hantucloud Yeah it is! I've learnt a good bit, i've done all that however my program crashes when attempting to summon units in JP!

[2017-11-19 12:03] hantucloud commented on #48
@thed24 i dont play JP, you can trace by PacketDecoder or error debug on Visual Studio.

[2017-11-19 15:44] robidk commented on #48
Anyone know if complete missions can be enabled? and does it work? i.e use magic, esper etc or defeat boss with lb?

[2017-11-19 22:02] dinhlehuynh commented on #48
![new bitmap image 2](https://user-images.githubusercontent.com/32948385/32996036-e5c5d0cc-cdaf-11e7-9aa4-3ad1d7aca17c.jpg)
Same with @donradzsk ,

Updated the Network.cs and BraveExvius.cs.....like @Cybotor guide.. but still not working, pls help....

[2017-11-20 01:22] Cybotor commented on #48
@dinhlehuynh @donradzsk
I'm not sure about this error. But similar with error I found when do data-extractor.
It's maybe file unit.cs was corrupted. (Haxvius\data)
try to replace with @shalzuth original file and re-compile.

if this cannot help .... I dunno to solve this heh.

[2017-11-20 03:14] HotMoogle commented on #48
@Cybotor help me to run those 3 Python IDA Files for extraction , i guess this is the key to our problem.
If you want IDA i can share mine just ask me, those 3 py files are very interesting

[2017-11-20 04:58] HotMoogle commented on #48
@Cybotor nevermind what i said earlier,
i was wondering if i can catch the packets using my phone and using the packet decoder.
if so how can it be done?

[2017-11-20 10:10] hantucloud commented on #48
@HotMoogle
![2017-11-20_170939](https://user-images.githubusercontent.com/11237395/33013179-ae1cbddc-ce15-11e7-9f73-4b640af0db45.jpg)

[2017-11-20 11:49] jash1412 commented on #48
@hantucloud WOW..!! that looks nice. do you mind to share the source file? Thanks.

[2017-11-21 04:58] HotMoogle commented on #48
@hantucloud haha yeah any other method than running those 2? i mean like example use your phone and the packet decoder.. and can catch the packets

[2017-11-21 05:05] HotMoogle commented on #48
@hantucloud @Cybotor anyone of you fixed the exploration loot? there seems error upon running one, im updating the achievement (challenges) will share soon..

[2017-11-21 05:21] HotMoogle commented on #48
MSt 1039 Global

[2017-11-21 06:56] Cybotor commented on #48
Exploration run fine, at least last sunday before update.
But I only do on Enchanted Maze.

Regard to Milla’s tool experience.
Done exploration on story  it’s may ruin your game.
Coz you will take all key items before quest. And it (may) made you cannot clear that quest forever.

[2017-11-21 08:10] robidk commented on #48
@Cybotor  can we use the packet decoder to intercept quest completion packets  and then replicate  it using different mission ids to auto complete the quests?
So far I have only seen packet decoder working whilst using this client. Do I need to accept and install the certificate when running packet decoder to view packets from phone/emulators etc?

[2017-11-21 16:31] Cybotor commented on #48
@robidk technically is yes (for capture data)
but I never try before coz I don't know how to install certificate to phone/emulator. lol

but you can as you mention by run mission tab original by @shalzuth .
all mission order by story line. (at lease for GL update).

[2017-11-21 16:51] hantucloud commented on #48
@robidk yes you can modif packet using packet decoder.

@HotMoogle okay i will share configuration using my phone (iphone) because Android version has Zip Encoding

@jash1412 sure next time i will share my project by external link because im removed all JP configuration
i have added several feature like auto clear raid colo and event so you can afk hehe
and view current timer lvl etc but only for

[2017-11-22 00:35] dominic-codespoti commented on #48
@hantucloud Your program version looks so cool!

[2017-11-22 01:33] HotMoogle commented on #48
@hantucloud haha nice , got some bad news about challenge mode, thats why shalzuth never activated the button for challenge mission its not working, i tried re coding it for the same logic as trophies but failed, no achievement is done

@hantucloud and yeah if ever you share your program upload it in a day then delete it :D avoid leaks

[2017-11-22 12:27] donradzsk commented on #48
Did the app version for global change?

[2017-11-24 02:15] ggwpx commented on #48
I have fiddler and FFBE packet decoder open but FFBE packet decoder is not receiving anything...

[2017-11-24 13:54] hantucloud commented on #48
here my project [BraveHaxvius.zip](https://github.com/shalzuth/BraveHaxvius/files/1501783/BraveHaxvius.zip)
but im sorry to say "i modify as i want!" :D
- only for GL
- loggin only with gumi-id,gumi-token,id,pass,fb-id,fb-token you can search by using Packet Decoder at UserInfo packet
i only add
+ change exception program to memo log
+ add auto clear event, arena, raid
+ you can see at func DoMiss

[2017-11-24 14:10] Jhonvf20 commented on #48
@hantucloud Wow! Cool! Thanks for your custom project! =D

[2017-11-24 14:24] hantucloud commented on #48
@HotMoogle @Cybotor

[bandicam 2017-11-24 21-07-55-872.zip](https://github.com/shalzuth/BraveHaxvius/files/1501865/bandicam.2017-11-24.21-07-55-872.zip)

here video tut to use PacketDecoder via IPhone
- make sure same network
- make sure ur firewall is "friendly" ;)

[2017-11-24 19:09] newChallenger1 commented on #48
sorry, OOT. @hantucloud whoa, are you Indonesian? Can I ask something? Where do you learn to code something like this?

[2017-11-24 22:44] ggwpx commented on #48
when I ran inject, i got an error saying that Error : Failed to retrieve player name... also the Brave Haxvius.exe doesn't allow email/pw input.

[2017-11-24 23:18] ggwpx commented on #48
@hantucloud  thanks for sharing. I appreciate your work.  I can't seem to get injection and unit summon working. I can login and get power leveling work though.  Any comments would be appreciated as I don't have any programming background.

[2017-11-25 01:59] hantucloud commented on #48
@newChallenger1 yes iam indonesian, why ?
just self improving i dont have a teacher.

@ggwpx im sorry my project only use for event hunter

[2017-11-25 14:39] newChallenger1 commented on #48
@hantucloud is your packetDecoder only for iPhone? I tried countless times and still not working in my android. Already installed the certificate, firewall allowing the program, but still nothing happen..

[2017-11-25 17:14] firefist8 opened #51 "Update App"
would some1 be kind enough to update the app? I am a noob so I don't know how to edit anything.

[2017-11-25 23:57] hantucloud commented on #48
@newChallenger1 Android version has Zip Encoding, so you must catch with Fiddler and Decrypt manualy

[2017-11-26 01:15] HotMoogle commented on #48
@hantucloud thanks i guess everyone has a copy kindly delete the uploaded files lets avoid you know spies and reporters :)

[2017-11-27 00:14] HotMoogle commented on #48
Please Proceed to a New Issue i will file for updates! :) Thank you all

[2017-11-27 00:14] #48 closed, assigned to nobody

[2017-11-27 00:15] HotMoogle opened #52 "Global and JP Update Thread!"
Global
APP 1033
RSC 0
MST 1052

JP: ( sorry i dont support jp aswell) if anyone knew please post

[2017-11-27 07:00] dominic-codespoti commented on #52
Does the global injector work??

[2017-11-27 07:28] Cybotor commented on #52
JP versions are 1033, 687, 2000

[2017-11-27 10:15] HotMoogle commented on #52
@thed24  sorrybuddy injection doesnt work anymore on GL

[2017-11-28 14:20] mrbojoa commented on #48
Can someone share with me @hantucloud 's folder? I tried using v1.0.37 but it keeps on crashing :(

[2017-11-28 14:25] mrbojoa commented on #52
Hey @HotMoogle do you happen to have a working tool for TMR farming for GL? I was trying to use v1.0.37 but apparently it's not working well :(

[2017-11-28 14:54] mrbojoa opened #53 "Crashed upon running missions"
Is anyone facing the same issue with v1.0.37 release? How do i go around to fix it?

Thanks!

[2017-11-29 01:56] HotMoogle commented on #53
#52

[2017-11-29 01:58] HotMoogle commented on #51
#52

[2017-11-29 01:59] HotMoogle commented on #48
#52

[2017-11-29 02:22] mrbojoa commented on #53
@HotMoogle resolved, thanks :)

[2017-11-29 08:37] HotMoogle commented on #53
download VS 2017 community edition. open solution
update which is indicated above! this thread :)

[2017-11-29 14:04] mrbojoa commented on #53
@HotMoogle resolved, thanks :)

[2017-11-30 02:48] #53 closed, assigned to nobody

[2017-11-30 14:52] HotMoogle commented on #52
GL update:

MST 1058

:app keeps crushing running the farm bot:

every 10mins on my app :) but maybe its my isp

[2017-11-30 17:03] Galentia commented on #52
It isn't your ISP. I'm getting connection errors as well.

[2017-11-30 22:33] dinhlehuynh commented on #52
Same here, after update MST, the tool can run but after 5 mins and it got error.... any one find the way to fix?

[2017-12-01 04:15] HotMoogle commented on #52
well i guess its gimu's server its stable now... no disconnects or whatever

[2017-12-01 14:39] hantucloud commented on #52
@HotMoogle using try and catch to manipulate running function if got dc

[2017-12-05 21:39] robidk commented on #52
Anyone manage to fix the challenges? I would have tried to catch packets and figure out what code is sent to complete which ones but I only have android/nox so cannot use the packet decoder :(

[2017-12-06 12:28] HotMoogle commented on #52
GL 1061 :)
@robidk  i tried to decode and make it work too but i stopped coz its too much for my little brain haha

[2017-12-06 16:04] Kyuuza commented on #48
hi anyone know what is the correct link to download jp assets in dataextractor,any chance a user is willing to share the updated repo mentioned above by @hantucloud thanks in advance

[2017-12-08 20:42] Ondraya commented on #52
have the numbers changed again?  I'm not getting it to connect.

[2017-12-08 23:19] HotMoogle commented on #52
@ondraya 1066

[2017-12-09 01:33] Leinadris commented on #52
Currently having some trouble with the data extractor, although it was working for the last few patches. Something to do with the F_SUBLIMATION_RECIPE_MST line, would anyone have any idea as to how to fix this?

[2017-12-09 03:14] Ondraya commented on #52
Thank You!

[2017-12-09 17:03] ggwpx commented on #52
does anyone know the code for automatically starting raid whenever the raidorb is at full?

[2017-12-09 21:59] dsagaria commented on #52
I dont know how to update the bot.. someone can helpme with this?.. is there any guide?

[2017-12-11 16:27] Kyuuza commented on #50
the tool works on jp just need some updating on code for the extractor to work though all in all it work wonderfully on jp and gl

[2017-12-12 09:21] acexdt commented on #52
Newbie here.
May I ask how to find new versions for JP Android?
I only found the GL version of Apple but I don't have an Apple device to try it on.

[2017-12-13 01:36] Cybotor commented on #52
Locale = "JP";
AppVersion = "1034";
RscVersion = "713";
MstVersion = "2107";

summon still work fine on JP.
dangerous? ==> use at your own risk.

[2017-12-13 03:20] Galdana opened #54 "Mission bot (JP)"
Is there a way to make the Mission bot do the challenges in JPN? It doesn't matter what I tick it always crashes except when I don't tick anything.

[2017-12-13 04:52] tommygirl commented on #50
Does injection still work for JP?

[2017-12-13 08:21] Kyuuza commented on #50
yeap injections work on jp

[2017-12-13 09:04] tommygirl commented on #50
Thanks, i'll give it a try

[2017-12-13 12:00] HotMoogle commented on #52
GL - Build Version 2.5.0

[2017-12-14 07:24] davidnenu commented on #52
global:
        public String AppVersion { get; set; } = "1034";
        public String RscVersion { get; set; } = "0";
        public String MstVersion { get; set; } = "1075";
;)

[2017-12-17 07:55] tommygirl commented on #52
Hi totally new to VS here..
Updated in BraveExvius.cs to;
Locale = "JP";
AppVersion = "1034";
RscVersion = "713";
MstVersion = "2107";

Tried running airship from Testing-program.cs and encountered this error prompt. Any help?
![braveexvius](https://user-images.githubusercontent.com/33150891/34077602-96c7e656-e342-11e7-8f2e-34033ec64bb1.JPG)
![capture](https://user-images.githubusercontent.com/331

[2017-12-19 01:04] zalibi commented on #52
Crashing on the "CreateUser" command for JP. Global works fine. Did they update the version for JP again? Can't check myself. No iphone.

[2017-12-21 15:45] Leinadris commented on #52
GL
New Build Ver - 2.5.1

[2017-12-21 20:59] acexdt commented on #52
How do I find new versions for JP? help pls.

[2017-12-21 21:07] Ondraya commented on #52
what are the new numbers?

[2017-12-21 21:09] Ondraya commented on #52
more importantly, me being a complete noob at this stuff and self teaching, how do you go about figuring that out?

[2017-12-22 01:31] Cybotor commented on #52
for JP
AppVersion = "1034";
RscVersion = "722";
MstVersion = "2132"

[2017-12-22 11:12] dinhlehuynh commented on #52
Anyone know how to update the Tool while Exclusive units in Global came? tool got crash when I put new units to the team and run any maps...

[2017-12-22 22:29] robidk commented on #52
You need to run the dataextractor.exe to update your data folder.

[2017-12-22 22:45] zalibi commented on #52
Still getting crash on CreateUser. Weird.

[2017-12-22 23:08] zalibi opened #55 "Stuck on createuser prompt."
I've gotten the GL side of things to work but now I'm kinda stuck trying to fix it for JP. No matter what I do and how many times I update the version to the latest, it always always comes back with an error when it gets to the CreateUser part of the bot. Debugging seems to say its unable to retrieve account name or some such. Anyone know where to start with fixing this?

The error I'm getting is

[2017-12-23 03:59] Killer66 commented on #48
@dinhlehuynh @donradzsk

The error is because you guys have a exclusive unit, maybe from a fan festa? I'm with the same error, but the unit is tinkerer carrie. Shes not in the units.cs file, so the error occurs. Someone can give me a updated unit.cs file?

[2017-12-23 05:11] Killer66 commented on #52
@robidk

The exe on:   BraveHaxvius-master\DataExtractor\obj\Debug  ?

[2017-12-23 05:17] Killer66 commented on #52
Problem with  F_SUBLIMATION_RECIPE_MST, any hints?

[2017-12-23 05:38] Killer66 commented on #52
Nevermind, just figured out :D

[2017-12-23 05:49] Killer66 commented on #48
Nevermind, just figured out :D

[2017-12-23 06:45] Orionstar1988 opened #56 "Facebook two factor authorization"
Hello I keep running into a issue with line #82 in the facebook.cs apparently the two factor authorization isnt working and causing facebook to block the account before it could get in. please help?

[2017-12-23 12:00] Tifw commented on #52
I'm crashing after "Get Userinfo". Started after the last patch, any ideas on how to fix?

[2017-12-23 13:17] robidk commented on #52
I would guess that you need to check that you have correct versions and fb id/tokens.

[2017-12-23 14:40] Tifw commented on #52
Well the FB ID/Tokens is still the same, but i don't know how to check if the version is the correct one. Well. i'll look into it.

[2017-12-23 19:01] blackyuan2017 commented on #52
Does injection work in global?

On Dec 23, 2017 09:40, "Tifw" <notifications@github.com> wrote:

[2017-12-23 19:01] ActalNufofen commented on #48
@killer66 Can you share how did you resolve it? thanks.

[2017-12-23 20:14] zalibi commented on #52
Global MST has changed from 1075 to 1102 Tifw. Might be why you are crashing.

Still trying to figure out why I'm having trouble with JP. To be honest, I actually think its something to do with the info I'm using to log in... not sure what I'm doing wrong though.

[2017-12-23 20:55] Tifw commented on #52
So, i re-downloaded every file again, but now i'm getting this message, something that didn't happen the first time.
![iwg2lulqq9eiyjhu247iag](https://user-images.githubusercontent.com/34791539/34322605-63809a0a-e80a-11e7-8e7a-4c6799799044.png)

[2017-12-23 21:21] Killer66 commented on #52
@blackyuan2017
No.

[2017-12-23 21:29] Killer66 commented on #52
@Tifw , About that error on "get user info", it's probably because you have one of the new units. You can solve by updating the app, rsc and mst versions and after that, running dataextractor.

Lines 16, 17, 18:
public String AppVersion { get; set; } = "1034";
public String RscVersion { get; set; } = "0";
public String MstVersion { get; set; } = "1102";

line 25:
public String BuildVersion { get {

[2017-12-23 22:40] zalibi commented on #52
Ok. Almost got JP version to work. Now the problem is with the data extractor. It keeps failing referencing error 403(forbidden). Did they change the site address?

[2017-12-23 22:41] #55 closed, assigned to nobody

[2017-12-24 01:23] Bazuzko commented on #52
I have the same problem as 'tommygirl' further up this thread.

I correctly updated the tool and extracted new data.

However now it seems the tool does not manage to connect to Facebook (see the picture: https://imgur.com/HI4ZD36).
To connect with the tool, I use email+password. I do not have the two-factor identification activated on my Facebook account. And this Facebook account is my real one,

[2017-12-24 11:55] Kyuuza commented on #52
@zalibi yeap for jp you have to rework the code a bit for the dataextractor same goes for global but not as extensive as jp

[2017-12-24 16:25] Bazuzko commented on #56
I have suddenly the same issue.

But I don't use the two-factor authorisation and never have.

The only things that changed since I had this problem suddenly appear are:
- Updating the tool (APP/MST/Build, + DataExtractor)
- Change continent for the holidays

[2017-12-24 19:22] Bazuzko opened #57 "Error in Facebook.cs, line 82"
Hello,

Rather than hijacking the thread related to updates to the version of APP and MST, here is an issue I am encountering since very recently.

I ran the Debug Mode, and the problem lies in Facebook.cs line 82:

html = html.Substring(html.IndexOf("id=\"platformDialogForm\""));

The error triggers right as I start to do something, either a mission, or logging in in the Sell tab of the tool.

I

[2017-12-24 21:02] Orionstar1988 commented on #52
@killer66 what was the fix for "F_SUBLIMATTION_RECIPE_MST"?

[2017-12-24 21:22] Killer66 commented on #57
Brazil user here. Working fine. Also, can you give me Shalzuth's discord link?

[2017-12-24 21:25] Killer66 commented on #52
@Orionstar1988

Just updated app, mst and rsc version. Oh, and the build as well.

On Bravehaxvius.cs:

Lines 16, 17, 18:
public String AppVersion { get; set; } = "1034";
public String RscVersion { get; set; } = "0";
public String MstVersion { get; set; } = "1102";

line 25:
public String BuildVersion { get { return Locale == "JP" ? "ver.2.9.3" : "ver.2.5.1"; } }

[2017-12-24 23:55] Orionstar1988 opened #58 "GL item/Materia injecting not working?"
I wasnt sure if injecting items and materia injecting worked anymore, I tried doing a few item and it goes through the process and says that mission and request is finished and tells me given EXP and gold but when I check theres nothing in the game?  Any help?

[2017-12-25 00:05] #56 closed, assigned to nobody

[2017-12-25 01:33] Cybotor commented on #54
Leave the challenge, it's quite complicate to handle trigger for complete each challenge.

[2017-12-25 03:08] #58 closed, assigned to nobody

[2017-12-25 20:49] Orionstar1988 commented on #52
Hello all I was wondering for the JP Summon opton does it only do 1 per ticket? or is there a way to increase number of summons for each individual ticket?

I also ran into a issue where Im getting either "failed to get player name" when I try to inject items/materia or "please login again" error when trying to use my summon ticketson JP

also @Killer66 thank you for the help :)

Also Happy Holida

[2017-12-26 01:08] zalibi commented on #52
What else would I need to change?

[2017-12-26 13:54] Tifw commented on #52
I keep running to the same error, i already made the changes you suggested @Killer66 but with no success.
I changed the lines, runned the dataextractor and still can't pass the "Get Userinfo". It's for sure because i have a few new Units.
Btw: I'm a Brazillian user, if someone can talk portuguese with me in some private chat i would appreciate alot. And Happy Holidays to everyone <3
![hdjyekapqlak

[2017-12-26 15:04] Cybotor commented on #52
@Tifw error is from you have unit that not have data on units.cs
solve by
1. run data extractor till your units.cs is complete update
or
2. remove new unit from your party (all party, arena etc)

[2017-12-26 16:01] Tifw commented on #52
Just to be sure i'm doing right, how should i run the Data Extractor?

[2017-12-26 18:16] Killer66 commented on #52
@Cybotor , I think removing new units from party is not enough (tried this when this error was tormenting me and the error persists).
@Tifw , I have runned data extractor now in a old instance of the bot (with a outdated unit.cs file) and no sucess. Maybe the data extractor aren't working well or something... Tell me the size of your file, maybe I can give you the lines your is missing.

[2017-12-26 18:55] Tifw commented on #52
@Killer66  Which file size? From the actual program or the data extractor? (Or it's the line size? Idk, sorry for me being so useless at this x.x)

[2017-12-26 19:29] Killer66 commented on #52
Units.cs

[2017-12-26 19:33] Tifw commented on #52
![wigjsipkqp_kjf8mmydlsg](https://user-images.githubusercontent.com/34791539/34363394-8234db76-ea5a-11e7-8c9f-8dd6786c802a.png)

[2017-12-26 19:42] Killer66 commented on #52
As I expected.

(I can't upload .cs files for some reason so you can just copy and paste)

[units.txt](https://github.com/shalzuth/BraveHaxvius/files/1587795/units.txt)

[2017-12-26 19:50] Tifw commented on #52
@Killer66 Thank You so much! Everything working just fine now.

[2017-12-26 19:59] Killer66 commented on #52
@Tifw , I'm glad to help, enjoy o/

[2017-12-27 03:28] Orionstar1988 commented on #52
Hello again, I seem to be having trouble running the party lvling bot for JP every time I do so I get error for line

#1196 var needsLeveling = !units.All(u => u.Level == u.UnitMaxLevel && u.Rarity == Unit.Units.FindAll(u2 => u.BaseUnitId == u2.BaseUnitId).Max(u2 => int.Parse(u2.Rarity)).ToString());

  " An unhandled exception of type 'System.NullReferenceException' occurred in BraveHaxvius.dll"

[2017-12-27 06:01] Cybotor commented on #52
@Orionstar1988 your error same with @Tifw
You have unit that not have data on units.cs
You can bring @Killer66 file to use.
But if you have 7-star unit, there're no data on that file. Then error still occur.

[2017-12-27 08:11] longst12a1 commented on #52
Can you teach me how to add new tmr and stmr code in jp?
@Killer66

[2017-12-27 08:52] Killer66 commented on #52
Hi @longst12a1 . Unfortunately I don't know how the JP process works, but in GL, for getting the codes of any new content, you have to update the versions of app, rsc and mst (and maybe the build version too) then run the DataExtractor.

[2017-12-27 09:34] acexdt commented on #52
What's the new update for jp? sry, i don't know how to find it using android. :( can someone teach me?

[2017-12-27 11:19] JunkyardCat opened #59 "Data Extractor"
does anyone know how to make data extractor work using the exe? also can this work in jp?

[2017-12-28 17:06] dsagaria commented on #52
Sorry guys, I can not do the update ... and what I have here does not work anymore, can someone make the program up to date? Thanks in advance.

[2017-12-28 22:03] Killer66 commented on #52
@dsagaria , what error you're getting?

[2017-12-29 00:22] Ondraya commented on #52
Yeah, someone that has it working for Global, can you post a version so I can see if there are errors on my end and/or update my own file? It would be MUCH appreciated.

[2017-12-29 02:03] Killer66 commented on #52
I have posted my units file (updated) and the app, rsc and mst versions in a anterior comment.

[2017-12-29 10:56] acexdt commented on #52
What's the new update for jp? sry, i don't know how to find it using android. :( can someone teach me?

[2017-12-29 12:49] HotMoogle commented on #52
lol guys seriously everything is here don't leech and ask to upload a working tool :(
GL BuildVer 2.5.1
AppVer 1034
RSC 0
MST 1102

[2017-12-29 13:02] Ondraya commented on #52
I’m not trying to leech. I’m just REALLY new to coding programs and I get so many errors that Even when I get a part of it working, the majority doesn’t. I want to tmr farm and level and I can’t get my build stable.

[2017-12-29 13:07] HotMoogle commented on #52
@Ondraya  read up your questions were already asked here thank you

[2017-12-29 13:54] Ondraya commented on #52
Problem Event Name:	CLR20r3
  Problem Signature 01:	BraveHaxvius.exe
  Problem Signature 02:	1.0.0.0
  Problem Signature 03:	5a463576
  Problem Signature 04:	BraveHaxvius
  Problem Signature 05:	1.0.0.0
  Problem Signature 06:	5a463572
  Problem Signature 07:	89
  Problem Signature 08:	35f
  Problem Signature 09:	System.Exception
  OS Version:	6.1.7601.2.1.0.768.3
  Locale ID:	1033
  Additional In

[2017-12-29 23:31] ggwpx commented on #52
@Ondraya did you input GID, GTK, ID, PW, FB and FPW correctly?

[2017-12-30 01:32] Cybotor commented on #52
@Ondraya
error on CreateUser function, possible from your "unit.cs" file is not fully update.
and you have unit that not have data on "unit.cs" then this error is happen.

[2017-12-30 03:39] Ondraya commented on #52
I copied in the new unit data. The newest unit I have is Cloud.

I use the 00000-000-etc. for my device and my FB token like I used to back in September but now I get nowhere. I never needed to fill in the 2nd row with anything. Has that changed?

I re-installed framework, used the extractor, put in the new numbers.

The crash report is just too generic for me to figure out my problem.

[2017-12-30 03:51] Cybotor commented on #52
@Ondraya  try run program via debug on visual studio.
when you got error, it will show more error details where is incorrect point.
(same as @Tifw show on above reply)

and I may can tell you where is the problem.

[2017-12-30 08:48] acexdt commented on #52
@Cybotor Master...may I has new JP versions? Thank you. Also, may I know how to get these if I use android?

[2017-12-30 09:51] Cybotor commented on #52
AppVersion = "1034";
RscVersion = "737";
MstVersion = "2169";

[2017-12-30 09:52] acexdt commented on #52
Thank you. :)

[2017-12-30 13:24] Ondraya commented on #52
@Cybotor Like I said, I'm new to this so if I run a Debug on the .Exe, it does nothing and if I start it on the solution I get:
![vsdebug](https://user-images.githubusercontent.com/33197623/34454495-ab99c3ea-ed3a-11e7-8c68-be400839a7c2.jpg)

Also, I would be more than happy to carry this convo into a private chat so as not to destroy this string.

[2017-12-30 14:23] ggwpx commented on #52
@Ondraya
<img width="960" alt="right click" src="https://user-images.githubusercontent.com/33945641/34454950-6dcce9c6-ed43-11e7-87dc-f051335b77f0.PNG">

select set as startup project

[2017-12-30 17:52] ggwpx commented on #52
Does anyone know the correct server for JP data extractor?
 datContent = Downloader.DownloadString("http://lapis-dlc.gumi.sg/dlc_assets_prod/" + loc + "/Ver" + version + "_" + nameKey["Name"] + ".dat");

I don't think the server is http://lapis-dlc.gumi.sg/dlc_assets_prod but something new.

[2017-12-31 04:48] Cybotor commented on #52
http://cdn.resource.exvius.com/lapis/resource/

[2017-12-31 06:11] ggwpx commented on #52
<img width="960" alt="uhh" src="https://user-images.githubusercontent.com/33945641/34459748-4c1873a2-edc7-11e7-94f8-a927fb67adb4.PNG">
I changed the address... but the error. I only extracted Sublimation.cs, GameObject.cs, Request.cs and Variable.cs

[2017-12-31 13:25] Ondraya commented on #52
public String Device { get; set; } = "iPhone9,3";

is that accurate for line 19 of the BraveHaxvius.cs?

[2017-12-31 15:03] Ondraya commented on #59
![packet decoder](https://user-images.githubusercontent.com/33197623/34462423-acde0270-ee11-11e7-8917-2ba3175c9d43.jpg)

Is this even remotely done?  It's literally been running for over 24 hours now.

[2018-01-02 14:11] dsagaria commented on #52
Hello friends, I try to update my program with the instructions given by you but I'm not succeed ... but I still use this version, https://drive.google.com/open?id=1R2glEBV-nfKnBij8O2MdE9F_27edLttb, which works until today, however not with new units. So I would like to ask you, if any of you can update it and send me back, I would be very grateful !!

[2018-01-02 23:10] fantasyste opened #60 "Big fart for @Willowed"
What can be done with Nox and nacros? Willowed i love you :)
Metalsred and willowed now observed in-game

[2018-01-02 23:16] Killer66 commented on #52
@dsagaria , I have posted a updated units.cs file in this thread. Just copy the content of the txt file and paste on your units.cs file. This should solve your problem.

[2018-01-02 23:20] Killer66 commented on #60
Hello and welcome! I think the only thing you can do on GL version for now is farming (tmr, xp and so on).

[2018-01-02 23:43] Ondraya commented on #52
Woah, that interface is so different from what I have. What info do I need to have to use it? It’s probably why I can’t get it to work. I have an old build.

[2018-01-03 01:32] jash1412 opened #61 "Display TMR percentage"
Is it possible to code the program to display the TMR percentage? If yes, can someone guide me on how to modify it?

I think this would be helpful to everybody so we do not need to login to the game to check on the progress.

Thanks in advanced.

[2018-01-03 02:35] HotMoogle commented on #52
@dsagaria kindly delete links thanks else open up a new topic

[2018-01-03 02:39] HotMoogle commented on #52
Anyways Closing this thread as people keep on uploading and posting working files which we are avoiding because of spies and gimu employees kindly create a new thread for updates in the future. Thank you all who participated on my thread.

[2018-01-03 05:45] Killer66 commented on #61
Well, this would be a great addition.

[2018-01-03 06:52] Cybotor commented on #61
below is function to retrieve current party information.
method is.
1. get current party information.
2. call UpdateUnits for update units information to made comparison
3. units variable will contain all Party informaion
4. retrieve unit name & TMR to show

output is string variable that contain unit information (1 line per unit)
call this function to show on Form's text label.

-----------------

[2018-01-03 07:26] fantasyste commented on #60
Not manually inject stuff?

[2018-01-03 07:27] Killer66 commented on #60
Not in the GL version.

[2018-01-03 08:26] Killer66 commented on #61
@Cybotor , this function goes on the BraveExvius.cs file?

[2018-01-03 08:31] Cybotor commented on #61
@Killer66  Yes.

to use this function, I create label object "PTlabel" on form.
and call function on click event for login button.

PTlabel.Text = client.GetCurrentPTdeck();

[2018-01-03 08:44] Killer66 commented on #61
@Cybotor , Alright, I will try to figure out how to do this (I'm really noob at this). Thanks for the response.

[2018-01-03 11:25] fantasyste commented on #60
Where can i contact you @Killer66 for setting the app up? I would love to try this on JP, then.

[2018-01-03 15:48] HotMoogle commented on #52
re-opening the thread.. please dont upload or talk in private ( if you want to share the compiled tool)

[2018-01-03 16:16] fantasyste commented on #60
https://www.epicnpc.com/threads/1036048-FFBE-Injection-amp-Summoning-Service-GL-JPN

How this guy can inject in GL if it s not possible to ?

[2018-01-03 19:38] Killer66 commented on #52
@HotMoogle
Noob question: Github have pvt chat? I know that in the past it had.

[2018-01-03 19:44] Killer66 commented on #60
@fantasyste
 If you at least read the comments of the link you posted you will see that he doesn't.

[2018-01-03 19:45] Killer66 commented on #60
But, if he do, you can ask him, because I really don't know.

[2018-01-03 19:47] Killer66 commented on #60
Oh, and for the use of this tool on JP, I really don't know, I use only on GL.

[2018-01-03 20:27] fantasyste commented on #60
Mainly for which uses, you use it in GL? @Killer66 i m gonna ask (introducing myself as Gumi agent :D )

[2018-01-03 20:39] Killer66 commented on #60
Oh, you're a gumi agent? Oh my god, excuse me but now I'll run in fear.

[2018-01-03 21:09] Galentia opened #62 "Lapis Refresh?"
Anyone know how to Lapis refresh NRG?

[2018-01-03 21:29] dsagaria commented on #52
Sorry about my mistake...
I like if someone make a more complete tutorial about how to update the tool... I try sometimes but without success...

[2018-01-03 21:48] Ondraya commented on #52
I have completely failed. I’m the special child that needs the step by step process in this case so I will stop asking and just do more reading.

[2018-01-04 11:41] HotMoogle commented on #52
@dsagaria @Ondraya  ok pm me in discord ill give you the updated tool after maintenance this should only be once
look for Effigy

[2018-01-04 19:02] Rezzk commented on #52
Looks like none of the version info has changed after maintenance.

[2018-01-04 20:48] fantasyste commented on #60
You dont understand @Killer66.
I m gonna contact him by assuming that i m working for Gumi, so i can obtain info

[2018-01-05 06:31] HotMoogle commented on #52
appver1035 rsc 0  mst 1111
GLobal

[2018-01-05 11:56] #60 closed, assigned to nobody

[2018-01-06 06:56] Cronofei opened #63 "SERVER_MSG_900"
Anyone know what SERVER_MSG_900 means? I get this sometimes on the response for Initialise.

[2018-01-06 22:01] Tifw commented on #52
Guys, i'm having that problem where my unit.cs don't have the units from the new banner and because of that i can't use the program. Can someone help me?

[2018-01-06 23:35] ggwpx commented on #52
@Tifw run the data extractor

[2018-01-07 00:00] Tifw commented on #52
@ggwpx by some reason unknown my Data Extractor is not working.

[2018-01-07 16:46] robidk commented on #52
@Tifw  by default the data extractor is looking for the BraveHaxvius/.. Directory to write to but if you downloaded the version from here it would have been named like BraveHaxvius-Master . This is the issue I was having, you have to either rename your folder to match whats in the dataextractor or modify the data extractor code. Thats what happened to me anyway. Hope it helps!

[2018-01-07 17:38] NeoTetsuya commented on #52
Do anyone have the code for the auto clear raid? My button seems like grey all the time.

[2018-01-08 02:08] ggwpx commented on #52
@NeoTetsuya

        public void ClearRaid()
        {
            var orbs = UInt16.Parse(GetUserInfo[GameObject.UserTeamInfo][0][Variable.RaidOrb].ToString());
            while (orbs > 0)
            {
                var RoutineRaidMenuUpdate = Network.SendPacket(Request.RoutineRaidMenuUpdate,
                    new JProperty(Variable.RoutineRaidMenuUpdate, new JArray(new JObject(

[2018-01-08 02:16] ggwpx commented on #52
@Tifw
[unit.txt](https://github.com/shalzuth/BraveHaxvius/files/1610469/unit.txt)
rename it to unit.cs

[2018-01-08 02:26] NeoTetsuya commented on #52
![image](https://user-images.githubusercontent.com/35198449/34657139-ea6f0c8e-f455-11e7-8ab1-da3626e0fb27.png)
@ggwpx idk why i cant click this button despite using ur codes.

[2018-01-08 02:29] ggwpx commented on #52
you supposed to click the "do raid" <img width="579" alt="doraid" src="https://user-images.githubusercontent.com/33945641/34657184-d2aa5fa4-f3f1-11e7-9082-17b4e827698e.PNG">

[2018-01-08 03:11] NeoTetsuya commented on #52
@ggwpx  ohh okay, i think i can use that auto clear raid for convenience.

[2018-01-08 23:39] Tifw commented on #52
@robidk i renamed it but no change.
@ggwp it's already unit.cs

Maybe it's a problem with my data extractor :/ idk.

[2018-01-09 08:16] ark84 commented on #52
Does anyone have the new "appver rsc mst" for JPver ? Please share, ty.

[2018-01-09 08:59] Cybotor commented on #52
AppVersion = "1034";
RscVersion = "740";
MstVersion = "2172";

[2018-01-09 18:57] smithd4200 commented on #57
@Bazuzko Have you tried to just use a proxy or VPN somewhere outside of France to verify?

[2018-01-09 19:08] smithd4200 commented on #52
@ggwpx can you contact me on discord?  I'm curious about a couple of things in that screenshot.

Thanks
smithd4200

[2018-01-10 00:21] #61 closed, assigned to nobody

[2018-01-10 12:04] ggwpx commented on #52
@smithd4200 dont have discord

[2018-01-11 01:10] Tifw opened #64 "Data Extractor Problem"
So, i decided to make a new thread about my little problem with the Data Extractor.
By some reason mine is no working and i already tried many things to solve the issue but with no success.
I'm in need of some expert help or someone to share their Unit.cs with me. Thanks in advance.

[2018-01-11 10:39] ark84 commented on #52
@Cybotor  Could you share the new JP update values again ? tyvm.

[2018-01-12 00:25] Zharion12 commented on #52
@ggwpx Hi, I wanted to ask how I can have that tool that you have? since I have the old one and do not have so many buttons to complete missions?

[2018-01-12 07:13] Cybotor commented on #52
AppVersion = "1034";
RscVersion = "747";
MstVersion = "2201";

[2018-01-12 08:27] acexdt commented on #52
Thank you.

[2018-01-12 10:07] Killer66 commented on #52
Any changes on the GL version?

[2018-01-12 23:12] Zharion12 commented on #52
What are the new values for the GL version?

[2018-01-13 05:12] Killer66 commented on #52
@Cybotor , do you have the new values of GL? (if they changed at all)

[2018-01-13 06:13] Killer66 opened #65 "App, rsc and mst new values (GL)?"
Anyone have the new values form GL version?

[2018-01-13 20:17] Cronofei commented on #65
public String AppVersion { get; set; } = "1035";
        public String RscVersion { get; set; } = "0";
        public String MstVersion { get; set; } = "1122";

If you know how to debug, breakpoint the function BraveExvius::Initialize()

ie, find this line in BraveExvius.cs : public void Initialize()

If the MST version is wrong, you'll see it hit this line when debugging.

MstVersion = (initialis

[2018-01-13 20:19] Cronofei commented on #52
Anyone know what OperatingSystem value to use for hitting the ONE Store?

[2018-01-13 20:24] Killer66 commented on #65
Wow, that's helpful, thank you. I will try to figure out how to do this.

[2018-01-14 00:58] ggwpx commented on #52
GL
public String AppVersion { get; set; } = "1035;
 public String RscVersion { get; set; } = "0";
 public String MstVersion { get; set; } = "1122";

[2018-01-14 15:33] Monqui001 commented on #52
![image](https://user-images.githubusercontent.com/35425869/34917576-9fdc1dd6-f948-11e7-834c-0c88a4fc6acd.png)
 got this anyone can help? did all build rebuild etc

[2018-01-15 09:50] ark84 commented on #52
Did they patch the tool on JP ? Can't login to the JP server.

On Mon, Jan 15, 2018 at 12:33 AM, Monqui001 <notifications@github.com>
wrote:

[2018-01-15 11:04] Cybotor commented on #52
@ark84  mst change to 2204

[2018-01-15 11:26] ark84 commented on #52
tyvm, so you can't use the old values to login anymore.

On Mon, Jan 15, 2018 at 8:04 PM, Cybotor <notifications@github.com> wrote:

[2018-01-17 03:38] Mikeo73 opened #66 "Super Summon"
I have seen people posting about pulling 4K units with one ticket and I would like to start trying to figure out how to do that. I am curious if anyone has worked on this or has any leads as where to start.

Thanks

[2018-01-17 06:53] jash1412 opened #67 "Data Extractor for JP"
I am having issue to get data extractor working for JP. Can someone guide me whether there is any steps that I am missing? Thank you.

BraveExvius.cs : Updated Locale, AppVersion, RscVersion, MstVersion and BuildVersion
Program.cs : Updated to the new server address

![ffbe](https://user-images.githubusercontent.com/33704005/35029499-2384fa8c-fb96-11e7-9f9c-5535194dc229.jpg)

[2018-01-18 00:12] HistoreLaw opened #68 "Data Extractor"
No se pudo ejecutar la compilación Compilar.

Sorry i'm spanish speaker

[2018-01-18 14:45] HotMoogle commented on #52
mst 1131

[2018-01-20 14:12] ghost commented on #68
@HistoreLaw `Install-Package Newtonsoft.Json`

[2018-01-20 18:38] newChallenger1 commented on #68
anyone get IP banned by using this tools ? somehow I cannot login, and it says blocked by server or something. maybe because doing missions too fast.. if anyone experienced this, how long will it take to normally login again?

[2018-01-20 19:48] DregonYor commented on #48
could some one give me the code to add the MY ID tab , i want to add it to use event friend , thanks

[2018-01-20 19:57] DregonYor commented on #52
could someone give me the code to add MY ID so that i can use the Use even friend? thanks

[2018-01-22 02:49] dsagaria commented on #52
could someone send to me a invite to Discord?

[2018-01-22 03:18] Cybotor commented on #52
https://discord.gg/799qSNR

[2018-01-22 11:45] dsagaria commented on #52
Thanks!!

[2018-01-22 14:23] acexdt commented on #52
anyone has the new versions for JP? please and thank you.

[2018-01-23 13:53] acexdt commented on #52
@Cybotor Master, sho us da wae (versions) to Valkyrie Profile. Please. Thank You very very much.

[2018-01-23 21:41] shalzuth commented on #52
Feel free to submit a pull request to update the versions, anyone.

[2018-01-24 01:14] Cybotor commented on #52
for JP
AppVersion = "1035";
RscVersion = "755";
MstVersion = "2224";

[2018-01-27 17:27] Killer66 commented on #52
New versions?

[2018-01-27 20:45] Zharion12 commented on #52
Do you know what are the mst values of the GL version?

[2018-01-28 18:48] Ondraya commented on #52
GL
AV 1036
RscV 0
MstV 1147

[2018-01-29 06:50] #67 closed, assigned to nobody

[2018-01-29 15:56] Kyuuza commented on #52
anyone willing to share the updated tool source which is mentioned above with me?

[2018-01-29 17:11] Ondraya commented on #52
Try the Discord group, more MIGHt be available there

[2018-01-29 17:22] Kyuuza commented on #52
tried so far no luck,thanks for the pointer

[2018-01-31 02:38] #65 closed, assigned to nobody

[2018-01-31 14:08] sky1206 commented on #52
anyone has the new versions for JP? Tifa is out!! My sincere thanks.

[2018-02-01 13:23] HotMoogle commented on #52
@Ondraya  so glad your tool is working great now :)

[2018-02-01 13:29] Ondraya commented on #52
@HotMoogle thanks, I just needed someone to double check my steps to get it there.  Is there anyone that has panel set up to do multiple DIFFERENT missions in a loop that would be willing to talk (like a layman) about HOW it was set up?  No code, I just need to know what connections I need to make it work. Is it ok for me to post an email address for that?

[2018-02-01 21:05] sky1206 commented on #52
anyone has the new versions for JP? Tifa is out!! My sincere thanks.

[2018-02-01 21:11] donradzsk commented on #52
And for global too.

Also does anyone know what the syntax for lb gain is? Right now it's set to null
(false, null, null, null, false, false, false, false, false, **null**, 50000)
but I would like to set it to at least 1.

[2018-02-01 21:15] Cronofei commented on #52
For Global:
  AppVersion 1036
  RscVersion 0
  MstVersion 1164

If you check my fork I've modified the code to read versions from the config file, and log them and update it when they change.

[2018-02-02 00:24] acexdt commented on #52
@Cronofei do you know the jp versions? Thank you.

[2018-02-02 01:23] Cybotor commented on #52
for JP
AppVersion = "1035";
RscVersion = "766";
MstVersion = "2263";

[2018-02-02 09:02] sky1206 commented on #52
@Cybotor Thank you! I just (now) learned how to search for them! I will update it next time. haha

[2018-02-03 17:21] Cronofei commented on #52
Does anyone know how to get the basic repeat mission working? When I try it seems to force a re-login a lot of the time.

[2018-02-04 07:31] donradzsk commented on #52
Okay so I've spent the past few days researching and figured out the syntax for adding items:

b.DoMission(Mission.AirshipDeck, false, null, "21:" + Equipment.GenjiGlove.EquipId + ":2", null, false, false, false, false, false, **null**, 50000);

But of course it's not working. So what would be the syntax for LB experience (the null before 50000 above)? @ggwpx or anyone more knowledgeable? I'm lear

[2018-02-06 09:37] robidk opened #70 "Display remaining Energy"
Hi,

Anyone know what function returns user info such as remaining Energy, if there is one already?
Wanted to add it to the mission tab so that I could press a button and see how much energy left.

Thanks!

[2018-02-09 14:09] sky1206 commented on #52
Update:
JP
AppVersion = "1036";
RscVersion = "776";
MstVersion = "2315";

Global
1037
0
1182

Correct me if I'm wrong. 1st time checking these on my own,

[2018-02-09 20:30] Cronofei commented on #52
Anyone know how to use the bot to restore energy?

[2018-02-09 20:35] Cronofei commented on #52
@donradzsk I believe you just type in how much LB experience you want, as a string. IE, if you want to gain 10 LB Xp, type "10" (include the quotes);

[2018-02-12 08:03] JunkyardCat commented on #52
does anyone know the new version number for gl?

[2018-02-12 08:05] Killer66 commented on #52
@JunkyardCat

App Global:
1037
Rsc:
0
Mst:
1182

[2018-02-12 09:05] JunkyardCat commented on #52
@Killer66
nope the app updated just recently around an hour ago. it downloaded some things so the version must have changed.

Note I am already using that version

[2018-02-12 09:42] sky1206 commented on #52
MST: 1185

[2018-02-23 15:24] newChallenger1 opened #71 "The remote name could not be resolved: 'lapisv240.gumi.sg'"
When it happen, I changed the address 'lapisv240.gumi.sg' to something I found in internet.. and now it's working again..
Anyone can teach me how to do it with Fiddler ? The address never shown in Fiddler (only Facebook stuff).. I'm using Android btw.. Any help will be appreciated.. Thanks in advance

[2018-02-25 00:44] tyasa81 commented on #71
Hi. Can you or anyone else pls let me know whats the new address? It has changed from lapisv240.

[2018-03-09 00:31] donradzsk commented on #52
Mst for global changed again?

@Cronofei thanks, I had figured it out through trial and error.

[2018-03-09 09:29] Killer66 commented on #52
DataExtractor unable to att the data due to the IOS issue?

[2018-03-09 09:30] Killer66 opened #72 "DataExtractor problem"
DataExtractor unable to att the data due to the IOS issue?

[2018-03-09 10:27] Leon1080 commented on #52
@Cybotor
New update JP?
AppVersion , RscVersion , MstVersion

[2018-03-09 10:45] Leon1080 opened #73 "JP Summon after 3/8"
Anyone test it again?
I got error, seem they fixed

[2018-03-09 11:04] acexdt commented on #73
I got it too. Anyone knows a work around?

[2018-03-09 17:48] sky1206 commented on #52
Locale = "JP";
AppVersion = "1036";
RscVersion = "797";
MstVersion = "2436";

The JP summon does not work though (everything else works the same). Hope someone can shed some light into this. Thank you.
P.S. someone already created a thread regarding this.

[2018-03-10 00:35] JunkyardCat commented on #52
whats the app rsc and mst version for the GL

[2018-03-10 01:12] Mikeo73 commented on #73
I also got the error. If I figure anything out I will let y'all know.

[2018-03-10 04:26] Cybotor commented on #73
summon was patched.
summon method didn't change. but server side reject 11 pull with ticket.

[2018-03-10 08:22] indraconda commented on #73
oh i tough its just me.
welp. waiting for the new method or news about it now

[2018-03-10 10:20] MachinaKunagiri commented on #73
Crashes when you click summon or “sending gacha.exe”

[2018-03-12 05:08] Cybotor commented on #73
it's crash because, server reject GachaExe request for 11 pull with ticket.

[2018-03-12 06:11] JunkyardCat opened #74 "does anyone know the latest appversion mst and rsc on gl?"
Appversion mst and rsc

[2018-03-14 05:52] ghost opened #75 "Can you upload BraveHaxvius that works?"
Version1.0.37's BraveHaxvius does not work well.
Can you upload BraveHaxvius that works?

[2018-03-17 08:31] Leon1080 commented on #75
Which function not work?
GB or JP?

[2018-03-17 08:42] ghost commented on #75
all don't work. it's jp version.

[2018-03-17 08:43] ghost commented on #75
An error is displayed for all actions, and the program terminates forcibly.

[2018-03-17 23:39] Leon1080 commented on #75
jp still work with injection

[2018-03-18 00:26] ghost commented on #75
Can I use files that can be downloaded from here without changing anything?
I always forced termination when I enter TrancferCode and TrancferPin and click on LevelTab's LevelParty.
https://github.com/shalzuth/BraveHaxvius/releases

[2018-03-18 03:18] Leon1080 commented on #75
Ignore all, You just login and use inject

[2018-03-18 03:47] ghost commented on #75
I tried only the injection, but it was forced to quit.

[2018-03-18 04:17] #66 closed, assigned to nobody

[2018-03-22 16:06] Ondraya commented on #52
I can't figure out the new numbers for GL.  How do I do that with the dataextractor?

[2018-03-23 02:10] HotMoogle commented on #52
Error as of the moment:

System.IndexOutOfRangeException
  HResult=0x80131508
  **Message=Index was outside the bounds of the array.**
  Source=DataExtractor
  StackTrace:
   at DataExtractor.Program.<>c__DisplayClass17_2.<DumpTranslation>b__3(String m) in C:\Users\User\Desktop\s\BraveHaxvius\DataExtractor\Program.cs:line 284
   at System.Linq.Enumerable.Count[TSource](IEnumerable`1 source, Func`2

[2018-03-24 00:17] Oligram commented on #52
Any fix for DataExtractor? (GL)

[2018-03-24 00:27] HotMoogle commented on #52
You need to wait for gumi to fix the leviathan loop issue this will fix the problem

[2018-03-26 12:30] newChallenger1 commented on #75
never played JP before, is summon ticket or 10+1 summon ticket still injectable ?

[2018-03-26 12:36] ghost commented on #75
can't inject.If you attempt to log in, an error will be displayed.

[2018-03-26 15:40] newChallenger1 commented on #75
Hey, I can inject EX ticket that get Madiena or Loren.. Any other ticket that works ?

[2018-03-26 15:41] #71 closed, assigned to nobody

[2018-03-26 15:43] newChallenger1 opened #76 "[FFBE-JP] Summon Ticket Injection"
10+1 and Summon Ticket ARE NOT INJECTABLE.
EX (Loren, Mediena) Ticket and FEB Ticket (Xenogears event) ARE INJECTABLE.

[2018-04-02 06:42] jokersell commented on #76
@newChallenger1 the ffbe injection tool 1.0.37 is not work now  ,  could you update it ?

[2018-04-03 11:15] jokersell commented on #76
i want to buy the ffbe injection tool if you sell it please reply to me  @newChallenger1

[2018-04-06 04:32] #52 closed, assigned to nobody

[2018-04-12 19:13] omnee opened #77 "Injection Error"
Trying to get this to work.
Getting this error when injecting.

`System.InvalidOperationException: 'Sequence contains no matching element'`

[2018-04-16 10:49] daysleeper7 opened #78 "How to inject items in JP version?"
May someone provide me a guide how to inject items on FFBE JP?
I am a newbie here.
I guess I have to change some variables in the files, such as AppVersion, RscVersion, MstVersion.

But I don't know which variables should I change exactly to make it work on FFBE JP.
Any help would be appreciated.

[2018-04-16 14:22] daysleeper7 commented on #78
I have figure out how to inject items by the client tool.
But I have no idea to update the item list.
My DataExtractor throws out an System.InvalidOperationException on line 359 var switchJson = DecodeFile(newMsts.First(m => m[Variable.KeyName].ToString() == "F_SUBLIMATION_RECIPE_MST"));

[2018-04-20 14:17] newChallenger1 commented on #76
@jokersell your private email address maybe or any chatting app ID? For easier contact purpose..

[2018-04-21 07:59] jokersell commented on #76
@newChallenger1   my email is 2296713829@qq.com

[2018-04-21 08:03] jokersell commented on #75
@Leon1080  could you update the BraveHaxvius to new ver? 1.0.37 is not use

[2018-04-21 08:08] jokersell opened #79 "could you update the BraveHaxvius?"
@shalzuth  could you update the BraveHaxvius? 1.0.37 is not use now thank you .

[2018-04-21 08:54] lupier commented on #74
app 1041
rst 0
mst 1263

[2018-04-21 09:28] newChallenger1 commented on #76
@jokersell I have sent you email, check it

[2018-04-21 22:38] mmoore5325 commented on #76
Uokingbritish@gmail.com - hit me up as well if you don't mind.

[2018-04-22 06:42] jokersell opened #80 "how to update the item list ? could some help me?"
thankyou , i want to inject the new items

[2018-04-22 07:48] #80 closed, assigned to nobody

[2018-04-22 07:49] jokersell opened #81 "how to update the item list ? could someone help me? if you tell me or help me do this i'm glad to pay it"
@shalzuth or anyone who can help me

[2018-04-22 07:52] jokersell commented on #79
i mean i need to add new items

[2018-04-23 07:38] Egorgian commented on #76
I am interested as well, jcshank058@gmail.com

[2018-04-23 08:07] Egorgian commented on #78
Hey. did you get this work?

[2018-04-24 04:42] newChallenger1 commented on #50
@Kyuuza any chance you can teach me or share the code of JP data extractor?

[2018-04-24 06:19] lupier commented on #81
Use DataExtractor

[2018-04-26 16:32] #81 closed, assigned to nobody

[2018-04-26 16:32] #79 closed, assigned to nobody

[2018-04-27 03:09] lupier commented on #75
Hi ALL!
Current url in Networking.cs SendPacket - https://v270lapisdtz9oirblf.gumi.sg/lapisProd/app/php/gme/actionSymbol/
app version - 1041
rsc - 0
mst - 1263
BuildVersion global "ver.2.7.3"

[2018-04-28 13:34] jokersell opened #82 "have someone help me to update the injection item list ? i can pay some money"
anybody if you can help me please reply to me

[2018-04-28 14:33] jokersell commented on #81
@lupier could you help me to update the list ? i can pay some money to you  thanks 

[2018-04-29 02:52] jokersell commented on #81
@lupier　my email is 2296713829@qq.com could you help me to update the jp list? thanks

[2018-04-29 06:01] jokersell commented on #81
@Cybotor  hello， could you help me to update the jp list? (ffbe injection tool) ,or maybe you can tell me how to update it ? thanks , my email is 2296713829@qq.com i can pay some money for your help

[2018-04-30 07:03] omnee commented on #76
Email me aswell please... omneekun@gmail.com

[2018-04-30 08:57] newChallenger1 commented on #76
Done, check your email

[2018-05-01 08:41] Leon1080 commented on #82
I can help you on injected or summon, but no update list

[2018-05-02 02:03] zikaru1 commented on #76
intrested as well ! email me please :D    neo_lyh@hotmail.com

[2018-05-04 11:05] newChallenger1 commented on #76
Done, check email

[2018-05-05 05:10] ghost opened #83 "Please give me a tool that can inject items."
I can prepare the money.
I'm happy to tell you how to update the tool.
I will be waiting for your reply.

[2018-05-05 05:12] ghost commented on #83
Additional notes
Version is Japan.

[2018-05-07 10:59] newChallenger1 commented on #83
you can chat me at discord
newChallenger#2241

[2018-05-07 10:59] newChallenger1 commented on #82
just close this issue @jokersell

[2018-05-07 11:00] newChallenger1 commented on #76
gonna close this

chat me at discord, newChallenger#2241

[2018-05-07 11:00] #76 closed, assigned to nobody

[2018-05-07 11:00] #82 closed, assigned to nobody

[2018-05-07 13:18] ghost commented on #83
I sent you friend request

[2018-05-07 13:18] ghost commented on #83
thank you

[2018-05-07 13:44] #83 closed, assigned to nobody

[2018-05-09 12:39] daysleeper7 commented on #78
Injection is fine. Did not find a way to update the item list. But some people contribute the item list on Github.

[2018-05-09 14:45] lupier commented on #78
Use data extractor for any kind of update. Missions, items, etc.

[2018-05-13 09:08] Zolrein opened #84 "Complete Missions locked"
just wondering why the new master has this function disabled from start? also im pretty sure I already double checked challenge and missions .cs but I can't fint its proper line, where is it now?

[2018-06-24 09:34] Killer66 opened #85 "Cave of Crystals"
The bot is unable to complete CoC stages. Thoughts?

[2018-06-24 10:05] lupier commented on #85
Very easy - try to use DataExtractor. Wait until it's finished their job. Then recompile client. That's all
Also remember to validate RST, MST, version values.

[2018-06-24 10:22] Killer66 commented on #85
What? I think you did not understand the problem. Have you tried to run any Cave of Crystals 3?

[2018-06-24 10:35] lupier commented on #85
Sure, all of them are OK. I think you dont understand problem on your side.
example in log:
Cave of Crystals (Support) 3
Sending : Initialize...
	Request done
Sending : GetUserInfo...
	Request done
Sending : MissionWaveStart...
	Request done
XP : 16900
Gil : 3140
Enemy dropped item : Support Alcryst : 6
Enemy dropped item : Support Heavicryst : 3
Enemy dropped item : Support Milcryst : 2
Sending :

[2018-06-24 10:38] Killer66 commented on #85
Hum.... strange, mine get a error on "Sending : MissionEnd..."

[2018-06-24 10:40] lupier commented on #85
"error" is an abstraction. Use visual studio debugger to get error location exactly where it is. Also use local proxy 127.0.0.1 with PacketDecoder to locate any collisions in data

[2018-06-24 11:04] Killer66 commented on #85
Error on line 111 of networking.cs
var msg = Text.Texts.First(t => t.Key == errorMsg.ToString()).Value;

[2018-06-24 11:06] Killer66 commented on #85
errorMsg: {SERVER_MSG_158}

[2018-06-24 14:37] lupier commented on #85
158 = Please log in again
Check your RST, MST, Ver. values.
app = 1043
rst = 0
mst = 1340
build = ver.2.8.1
You can always check this values in packetdecoder with telephone tuned via proxy

[2018-06-24 14:39] lupier commented on #85
Just compare your traffic from client and phone. This is not a "rocket science" :)

[2018-06-24 17:39] Killer66 commented on #85
These are exactly the same values I have here.

[2018-06-24 18:02] lupier commented on #85
make sure your url for php calls is `https://v270lapisdtz9oirblf.gumi.sg/lapisProd/app/php/gme/actionSymbol/`
if this one is already same - compare all decrypted JSON nodes in packet decoder. That's all what you need for debugging purpose

[2018-06-24 18:42] Killer66 commented on #85
The URL is the same. Tried another instance of the BraveHaxvius solution and worked well, even with very outdated values on MST and APP versions. Thanks for the help anyway.

[2018-06-24 21:32] robidk commented on #85
Hi @Killer66 , where did you get the other instance from? I am having same problem with my version. Have updated data, checked version etc but get an Item with same key already exists error.

[2018-06-24 21:37] robidk commented on #85
This is the error I am getting, ,in case someone can tell me how to fix it?
![capture](https://user-images.githubusercontent.com/33748956/41823889-1e6d0d42-77ff-11e8-9576-da7fc542bd0a.JPG)

[2018-06-24 21:40] Killer66 commented on #85
Yeah, that's the same error i'm getting. Just picked a backup file with a friend. However, now even runing only airship is giving me the same error here and there. I'm thinking the problem may be some instability in the server, so I will stop using the bot for a while.

[2018-06-27 09:37] robidk commented on #85
@lupier Hi, do you think you can provide a copy of your files? I am not good enough with programming to find the exact problem on my current files :(
Everytime I do a data extract I need to edit some of the equipment and challenge entries as they have double "" in the description which does not allow me to recompile without removing these, am not sure if maybe these is why I am getting the above e

[2018-06-27 10:05] lupier commented on #85
You can escape invalid chars with \
before: Kill Kanshou with "Bakuyas Vengence""
after: Kill Kanshou with `\"Bakuyas Vengence\""`
This is only one problem (as I remember) in whole challenges.
p.s. always wait till data extractor finished it's task. Do not close it (~10 minutes for example)

[2018-07-03 22:14] robidk commented on #85
looks like doing the above instead of just removing the extra "" has resolved the issue! Thanks lupier.

[2018-07-05 20:32] robidk opened #86 "Exploration Treasure Chests"
Hi, Anyone has this working? When I have the option ticked and run exploration it completes and opens the chests but I don't get the items!
Some help or pointers on how to fix would be much appreciated. Thanks!

[2018-07-18 06:13] ghost opened #87 "LB error"
Good afternoon everybody.
I am suffering about "LB" now.
If I enter a value in "LB" of the "Missions" tab now, the tool will be forcibly terminated.
I think that the LB code is around here, but I do not know how to improve it.
I'm happy if you give me advice, I will wait for your reply.

            var lbTotal = 1;

            if (!String.IsNullOrEmpty(lbIncrease) && !getTrophies)
            {

[2018-07-18 09:27] Killer66 opened #88 "DataExtractor not working"
Anyone with problems with dataextractor?

[2018-07-18 11:02] Killer66 commented on #88
Problem was with the AppVersion value. Already solved.

[2018-07-18 11:02] #88 closed, assigned to nobody

[2018-07-18 12:37] Killer66 opened #89 "Error : After parsing a value an unexpected character was encountered"
![a](https://user-images.githubusercontent.com/34783953/42881543-df38e48a-8a6d-11e8-958b-751fe57a30a8.png)
![b](https://user-images.githubusercontent.com/34783953/42881550-e59c5eec-8a6d-11e8-9691-e12a6514efb3.png)

Any thoughts?

[2018-07-21 23:11] Killer66 commented on #89
Solved.

[2018-07-21 23:11] #89 closed, assigned to nobody

[2018-07-23 05:11] #87 closed, assigned to nobody

[2018-07-23 05:11] #75 closed, assigned to nobody

[2018-08-30 18:03] robidk commented on #72
After today's update getting error message, http://lapis-dlc.gumi.sg/dlc_assets_prod/ has changed? Anyone know what is new location?

[2018-09-04 07:20] lupier commented on #72
This is not a problem at all, always use packet decoder for research with your mobile device and proxy

[2018-09-08 17:37] Mikeo73 commented on #72
has anyone been able to update recently? I have been getting errors.
If so, can you share your mission file with me?

[2018-09-09 03:22] lupier commented on #72
[Mission.zip](https://github.com/shalzuth/BraveHaxvius/files/2363943/Mission.zip)

[2018-09-09 03:24] #72 closed, assigned to nobody

[2018-09-09 16:40] Mikeo73 opened #90 "Vault of hidden treasures"
Is anyone able to run the secret vault more than once. I recently started playing again. I know it was possible in the past, but I have not been able to run them this time.

[2018-09-09 19:41] Mikeo73 commented on #90
got it working

[2018-09-09 19:41] #90 closed, assigned to nobody

[2018-09-11 03:59] daysleeper7 commented on #87
Can you provide your solution? I have the same problem.

[2018-09-11 04:15] lupier commented on #87
Let me explain why you get some error. Outdated units list. **Always** use data extractor with latest app, mst values before creating any kind of new issue.
p.s. if you want to get some support - explain technical details about error from visual studio. You must understand "omg, I've got some horrible error" isn't technical description about your situation.

[2018-09-12 21:05] Killer66 opened #91 "Bot unable to connect to server"
Any thoughts?

[2018-09-12 22:07] Killer66 commented on #91
Solved!

[2018-09-12 22:07] #91 closed, assigned to nobody

[2018-09-13 02:14] lastprimedev commented on #91
@Killer66 What do you do to fix it? Thanks.

[2018-09-13 03:05] Killer66 commented on #91
https://github.com/shalzuth/BraveHaxvius/issues/85

See comment number 6# from Iupiter.

[2018-09-13 03:18] lastprimedev commented on #91
@Killer66 Got it. Thanks a lot.

[2018-09-16 16:18] ActalNufofen commented on #91
Hi @Killer66, @lastprimedev

I am getting Error 500. Any idea how can I fix this? thanks.
Exception thrown: 'System.Net.WebException' in System.dll
Error : The remote server returned an error: (500) Internal Server Error.

![image](https://user-images.githubusercontent.com/34798188/45598449-f0f9a080-ba0e-11e8-9069-9aa5d79b4b67.png)

[2018-09-17 09:26] lupier commented on #91
Check URL in SendPacket function from Networking.cs
current url `https://lapis310nRdM8OKpzHLOlZ42.gumi.sg/lapisProd/app/php/gme/actionSymbol/`

[2018-09-17 13:43] sky1206 commented on #78
@daysleeper7 how did u get the injection to work? I can't seem to inject anything. It will start the stage and after the stage ended, the injected items are not being given to me. help pls.

[2018-09-17 15:49] lupier commented on #78
Injection "trusted item" doesnt work on GL, because possible drop restricted to certain items and values

[2018-09-25 15:21] REI0316 commented on #78
Please tell me how to inject 7 star Awakening Material

[2018-09-27 00:24] Killer66 opened #92 "DataExtractor error"
Error "System.InvalidOperationException"
"var switchJson = DecodeFile(newMsts.First(m => m[Variable.KeyName].ToString() == "F_SUBLIMATION_RECIPE_MST"));"
in Program.cs.

MST already is 1444.

[2018-09-27 00:41] Killer66 commented on #92
Solved. Problem was app version. Second time I have this problem.

[2018-09-27 00:41] #92 closed, assigned to nobody

[2018-10-08 10:03] donradzsk opened #93 "Help me get my client to look like this"
![pic](https://image.ibb.co/dUYpaK/34657184_d2aa5fa4_f3f1_11e7_9082_17b4e827698e_1.png)

@serenitygrant @OGVENDETTA @Cybotor @ggwpx @NeoTetsuya  @hantucloud @HotMoogle @lupier or anyone whose app has these options, how to get them? I already figured out the "do raid" part, the rest is hard.

[2018-10-08 12:59] lupier commented on #93
You can modify app as you want. Open source code.

[2018-10-11 15:24] donradzsk commented on #93
Right, I understand I can modify it. I just need the information from BraveExvius.cs and MainWindow.cs and any other files to get the options in the pic. That info isn't in the barebones app. Looking for any help before support for this completely dries up.

[2018-10-23 21:47] Mikeo73 opened #94 "Update JP"
Has anyone been able to update the JP version? Global has updated, but it doesnt look like my jp is updating for awhile now.

Has the website changed?

[2018-12-03 08:49] donradzsk commented on #93
@hantucloud are you still working on this or playing this game?

[2018-12-17 20:04] daysleeper7 commented on #78
I only know how to inject JP TMR/STMR.

[2018-12-23 17:07] Egorgian commented on #78
How do you do it? I can't figure out how to get jp working in bot

On Mon, Dec 17, 2018, 13:04 daysleeper7 <notifications@github.com wrote:

[2019-03-05 17:20] barface opened #95 "How do i set the new app version (GL)"
![image](https://user-images.githubusercontent.com/48255657/53823938-c6f65500-3f40-11e9-9c1f-12461a8d1097.png)

[2019-03-05 18:27] lupier commented on #95
BraveExvius.cs
public String BuildVersion { get; set; } = "ver.3.4.5";

[2019-03-05 19:44] barface commented on #95
Thank you, after running i got the unit.cs was out of date,
![image](https://user-images.githubusercontent.com/48255657/53833816-72120900-3f57-11e9-8687-5939625047b9.png)

 figured out i needed to do the data extraction but got this error
![image](https://user-images.githubusercontent.com/48255657/53832693-d4b5d580-3f54-11e9-86fe-4fe19119f25d.png)

[2019-03-05 19:45] barface commented on #95
also as a note to others
the new url is v345lapis-tWmilEJnE.gumi.sg
appversion is 1061
mst 1620
havent found rsc yet

[2019-03-17 17:32] nathypooh commented on #95
![image](https://user-images.githubusercontent.com/48654713/54495306-73c9be00-48c1-11e9-93ec-8bb571302a0d.png)

I hope this help

[2019-03-20 20:50] donradzsk commented on #95
What program is that @nathypooh ?

[2019-03-21 04:55] lupier commented on #95
Github > C# source code > MS Visual Studio. Isn't it so obvious?

[2019-08-04 15:56] Cedraow opened #96 "How to use the IDA Scripts in order to update keys ?"
Hi everyone,

I wanna update the json files in the DataExtractor folder (like https://github.com/shalzuth/BraveHaxvius/blob/master/DataExtractor/network.json) : I launch the scripts in IDA Pro, but finally the generated json are empty (I use the libgame.so in "lib > x86").
(I use an previous version of the app binary, because newers are in x64)

Does somebody know why the generated json are empty

[2019-08-05 05:06] lupier commented on #96
Just curious, why you need that file? Almost all requests are same. Few of them is new, but you always can extract it's names with fiddler web debugger.
So, my question is - why do you need that json file? What exactry you trying to do?

[2019-08-05 16:45] Cedraow commented on #96
I'm trying to fix the friend selection before launching mission. So I've sniffed the package from the friend's selection screen, but there is a new id.
I could extract the id, it name and it key with Fiddler ?

[2019-08-06 07:57] lupier commented on #96
Just open packetdecoder.exe, do one-two missions and select any "GetReinforcementInfo" packet and check it's json structure for new ideas

[2019-08-07 21:28] Cedraow commented on #96
Indeed, it's easier ! :)
Many thanks for the advice

[2019-08-27 01:38] #96 closed, assigned to nobody

[2020-12-30 05:37] #68 closed, assigned to nobody